﻿@model List<NotificationApplicationUser>
@{
    Layout = "_SFMLayout";

    ViewData["Title"] = "Notifikasi Anda";
    var AppBase = MyHttpContext.AppBaseUrl;
    var urlAppBase = AppBase.Replace("http:", "https:");
    var url = urlAppBase + "/Notifications/index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card-box">

            <ul class="list-unstyled mb-0">
                <li class="dropdown notification-list list-all-notif">
                    @if (Model.Count < 1)
                    {
                        <p class="text-muted mb-0 text-center text-nothing-notif">
                            Tidak ada notifikasi
                        </p>
                    }
                    else
                    {
                        <div class="dropdown-item noti-title">
                            <h5 class="mt-0 mb-2">
                                <span class="float-right">
                                    <a onclick="return markAllRead()" href="@url"  class="text-dark">
                                        <small>Tandai Sudah Dibaca Semua</small>
                                    </a>
                                </span>
                            </h5>
                        </div>
                        @foreach (var item in Model)
                        {
                            var belumDibaca = "";
                            if (item.IsRead == false)
                            {
                                belumDibaca = "belumDibaca";
                            }
                            var time = "";
                            var today = DateTime.Now.Date;
                            if (today == item.Date.Date)
                            {
                                time = item.Date.Hour + ":" + item.Date.Minute;
                            }
                            else
                            {
                                var selisih = (today.Date - item.Date.Date).TotalDays;
                                if (selisih == 1)
                                {
                                    time = "Kemarin";
                                }
                                else
                                {
                                    time = (today.Date - item.Date.Date).TotalDays + " hari lalu";
                                }
                            }
                            <a href="@item.Url" class="dropdown-item notify-item @belumDibaca " onclick="return clickNotif(@item.Id)" style="border-bottom: 1px solid #dcdcdc;">
                                <div style="background-color:@item.Color !important;" class="notify-icon bg-warning"><i class=" @item.Icon mdi mdi-comment-account-outline"></i> </div>
                                <p class="notify-details">@item.Title<small>@time</small></p>
                                <p class="text-muted mb-0 user-msg">
                                    <small>@item.Message</small>
                                </p>
                            </a>
                        }
                    }
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        var countSkip = 0;
        window.addEventListener('scroll', function (e) {
            var docHeight = $(document).height();
            var winScrolled = $(window).height() + $(window).scrollTop(); 
            if ((docHeight - winScrolled) < 1) {
                countSkip = countSkip + 1;

                return fetch($("input[name='appBaseUrl']").val() + "/Notifications/GetNotificationSkip?userId=" + $("input[name='userId']").val() + "&skip=" + (countSkip * 10), {
                    method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                    }
                }).then(response => response.json()
                    .then(res => {
                        var data = JSON.parse(res);
                        var miliday = 24 * 60 * 60 * 1000;
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth() + 1;
                        var yyyy = today.getFullYear();
                        var date = dd + '/' + mm + '/' + yyyy;

                        data.forEach(function (item) {
                        result = data;
                        var belumDibaca = "";
                        var time = "";
                        var dateItem = new Date(item.Date);
                        var timed = dateItem.getDate();
                        var timem = dateItem.getMonth() + 1;
                        var timey = dateItem.getFullYear();
                        var timedate = timed + '/' + timem + '/' + timey;
                        if (timedate == date) {
                            var minutes = dateItem.getMinutes();
                            if (minutes < 10) {
                                minutes = "0" + dateItem.getMinutes();
                            }
                            time = dateItem.getHours() + ":" + minutes;
                        } else {
                            var tglPertama = Date.parse(dateItem);
                            var tglKedua = Date.parse(today);
                            time = Math.round((tglKedua - tglPertama) / miliday) + " hari lalu";
                        }

                        if (item.IsRead == false) {
                            belumDibaca = "belumDibaca";
                        }
                        var urlNotif = item.Url.replace("http:", "https:");
                        $(".list-all-notif").append("<a href='" + urlNotif + "' class='dropdown-item notify-item " + belumDibaca + "' onclick='return clickNotif(" + item.Id + ")'" +
                            "' style='border-bottom: 1px solid #dcdcdc;'><div style='background-color:" + item.Color + " !important;' class='notify-icon bg-warning'><i class='" + item.Icon + "'></i> </div><p class='notify-details'>" +
                        item.Title + "<small>" + time + "</small></p><p class='text-muted mb-0 user-msg'><small>" + item.Message + "</small></p></a>");
                    });
                    })
                )
            }
        })
    </script>
}