﻿@media only screen and (max-width:1920px) {
    .left-Download-Icon{
        margin-left: -15% !important;
    }

    .text-amount {
        font-size: 40px;
    }
    .text-count h3 {
        font-size: 20px;
    }

    .text-countExpSFM h3 {
        font-size: 14px;
    }

    .sfm-file {
        margin-top: 10px;
        margin-left: -10%;
    }

    .sfm-file-download {
        margin-top: -15px !important;
        margin-left: -10%;
    }
   
}

@media only screen and (max-width:1850px) {
    .text-amount {
        margin-top: 20px;
        font-size: 36px;
    }

    .text-count h3 {
        font-size: 19px;
    }

    .text-countExpSFM h3 {
        font-size: 14px;
    }
}

/*@media only screen and (max-width:1800px) {
    .text-amount {
        margin-top: 20px;
        font-size: 37px;
    }

    .text-count h3 {
        font-size: 19px;
    }
}*/

@media only screen and (max-width:1760px) {
    .text-amount {
        margin-top: 20px;
        font-size: 33px;
    }
    .text-count h3 {
        font-size: 19px;
    }

    .text-countExpSFM h3 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1680px) {
    .text-amount {
        margin-top: 22px;
        font-size: 32px;
    }
    .text-count h3 {
        font-size: 17px;
    }

    .text-countExpSFM h3 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1650px) {
    .text-amount {
        margin-top: 24px;
        font-size: 30px;
    }

    .text-count h3 {
        font-size: 16px;
    }

    .text-countExpSFM h3 {
        font-size: 11px;
    }
}


@media only screen and (max-width: 1600px) {
    .dashboard-card-container {
        min-height: 140px;
    }
    .image-dashboard-container {
        width: 120px;
        height: 120px;
        line-height: 120px;
    }
    .content-dark1 {
        background: linear-gradient(to right, #296293, #296293 120px, #337AB7 120px, #337AB7);
    }
    .content-dark2 {
        background: linear-gradient(to right, #C08B3E, #C08B3E 120px, #F0AD4E 120px, #F0AD4E);
    }
    .content-dark3 {
        background: linear-gradient(to right, #B04340, #B04340 120px, #D9534F 120px, #D9534F);
    }
    .content-dark4 {
        background: linear-gradient(to right, #019388, #019388 120px, #01B8AA 120px, #01B8AA);
    }
    .content-dark5 {
        background: linear-gradient(to right, #B8651B, #B8651B 120px, #E67E22 120px, #E67E22);
    }
    .content-dark6 {
        background: linear-gradient(to right, #1F5163, #1F5163 120px, #26647A 120px, #26647A);
    }

    .content-dark7 {
        background: linear-gradient(to right, #1f6339, #1f6339 120px, #267a46 120px, #267a46);
    }

    .content-dark8 {
        background: linear-gradient(to right,#631f55, #631f55 120px, #7a2669 120px, #7a2669);
    }

    .content-dark9 {
        background: linear-gradient(to right, #631f2d, #631f2d 120px, #7a2637 120px, #7a2637);
    }

    .image-dashboard {
        width: 70px;
        height: 70px;
    }
    .text-amount {
        margin-top: 24px;
        font-size: 30px;
    }
    .text-count h3 {
        font-size: 16px;
    }

    .text-countExpSFM h3 {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1570px) {
    .text-amount {
        margin-top: 24px;
        font-size: 29px;
    }

    .text-count h3 {
        font-size: 15px;
    }

    .text-countExpSFM h3 {
        font-size: 10px;
    }
}


@media only screen and (max-width: 1540px) {
    .text-amount {
        margin-top: 24px;
        font-size: 26px;
    }
    .text-count h3 {
        font-size: 15px;
    }

    .text-countExpSFM h3 {
        font-size: 10px;
    }
}


@media only screen and (max-width: 1500px) {
    .text-amount {
        margin-top: 26px;
        font-size: 25px;
    }
    .text-count h3 {
        font-size: 14px;
    }

    .text-countExpSFM h3 {
        font-size: 9px;
    }

}

@media only screen and (max-width: 1470px) {
    .dashboard-card-container {
        min-height: 130px;
    }
    .image-dashboard-container {
        width: 110px;
        height: 110px;
        line-height: 110px;
    }
    .content-dark1 {
        background: linear-gradient(to right, #296293, #296293 110px, #337AB7 110px, #337AB7);
    }
    .content-dark2 {
        background: linear-gradient(to right, #C08B3E, #C08B3E 110px, #F0AD4E 110px, #F0AD4E);
    }
    .content-dark3 {
        background: linear-gradient(to right, #B04340, #B04340 110px, #D9534F 110px, #D9534F);
    }
    .content-dark4 {
        background: linear-gradient(to right, #019388, #019388 110px, #01B8AA 110px, #01B8AA);
    }
    .content-dark5 {
        background: linear-gradient(to right, #B8651B, #B8651B 110px, #E67E22 110px, #E67E22);
    }
    .content-dark6 {
        background: linear-gradient(to right, #1F5163, #1F5163 110px, #26647A 110px, #26647A);
    }

    .content-dark7 {
        background: linear-gradient(to right, #1f6339, #1f6339 110px, #267a46 110px, #267a46);
    }

    .content-dark8 {
        background: linear-gradient(to right,#631f55, #631f55 110px, #7a2669 110px, #7a2669);
    }

    .content-dark9 {
        background: linear-gradient(to right, #631f2d, #631f2d 110px, #7a2637 110px, #7a2637);
    }

    .image-dashboard {
        width: 60px;
        height: 60px;
    }
}
@media only screen and (max-width: 1470px) {
    .widget-chart-one-content {
        padding: 15px;
    }
    .text-amount {
        margin-top: 26px;
        font-size: 22px;
    }
    .text-count h3 {
        font-size: 13px;
    }

    .text-countExpSFM h3 {
        font-size: 9px;
    }
}

@media only screen and (max-width: 1370px) {
    .widget-chart-one-content {
        padding: 15px;
    }

    .text-amount {
        margin-top: 26px;
        font-size: 23px;
    }

    .text-count h3 {
        font-size: 13px;
    }

    .text-countExpSFM h3 {
        font-size: 8px;
    }
}

@media only screen and (max-width: 1340px) {
    .text-amount {
        margin-top: 28px;
        font-size: 19px;
    }
    .text-count h3 {
        font-size: 12px;
    }

    #BtnCheckAirwaysBill {
        font-size: 9px !important;
    }
}

@media only screen and (max-width: 1330px) {
    .text-amount {
        margin-top: 28px;
        font-size: 18px;
    }

    .text-count h3 {
        font-size: 12px;
    }

    #BtnCheckAirwaysBill {
        font-size: 9px !important;
    }
}


@media only screen and (max-width: 1290px) {
    .dashboard-card-container {
        min-height: 120px;
    }
    .image-dashboard-container {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    .content-dark1 {
        background: linear-gradient(to right, #296293, #296293 100px, #337AB7 100px, #337AB7);
    }
    .content-dark2 {
        background: linear-gradient(to right, #C08B3E, #C08B3E 100px, #F0AD4E 100px, #F0AD4E);
    }
    .content-dark3 {
        background: linear-gradient(to right, #B04340, #B04340 100px, #D9534F 100px, #D9534F);
    }
    .content-dark4 {
        background: linear-gradient(to right, #019388, #019388 100px, #01B8AA 100px, #01B8AA);
    }
    .content-dark5 {
        background: linear-gradient(to right, #B8651B, #B8651B 100px, #E67E22 100px, #E67E22);
    }
    .content-dark6 {
        background: linear-gradient(to right, #1F5163, #1F5163 100px, #26647A 100px, #26647A);
    }

    .content-dark7 {
        background: linear-gradient(to right, #1f6339, #1f6339 100px, #267a46 100px, #267a46);
    }

    .content-dark8 {
        background: linear-gradient(to right,#631f55, #631f55 100px, #7a2669 100px, #7a2669);
    }

    .content-dark9 {
        background: linear-gradient(to right, #631f2d, #631f2d 100px, #7a2637 100px, #7a2637);
    }

    .image-dashboard {
        width: 60px;
        height: 60px;
    }
    .text-amount {
        margin-top: 22px;
    }

}
@media only screen and (max-width: 1260px) {
    .dashboard-card-container {
        min-height: 110px;
    }
    .image-dashboard-container {
        width: 90px;
        height: 90px;
        line-height: 90px;
    }
    .content-dark1 {
        background: linear-gradient(to right, #296293, #296293 90px, #337AB7 90px, #337AB7);
    }

    .content-dark2 {
        background: linear-gradient(to right, #C08B3E, #C08B3E 90px, #F0AD4E 90px, #F0AD4E);
    }

    .content-dark3 {
        background: linear-gradient(to right, #B04340, #B04340 90px, #D9534F 90px, #D9534F);
    }

    .content-dark4 {
        background: linear-gradient(to right, #019388, #019388 90px, #01B8AA 90px, #01B8AA);
    }

    .content-dark5 {
        background: linear-gradient(to right, #B8651B, #B8651B 90px, #E67E22 90px, #E67E22);
    }

    .content-dark6 {
        background: linear-gradient(to right, #1F5163, #1F5163 90px, #26647A 90px, #26647A);
    }

    .content-dark7 {
        background: linear-gradient(to right, #1f6339, #1f6339 90px, #267a46 90px, #267a46);
    }

    .content-dark8 {
        background: linear-gradient(to right,#631f55, #631f55 90px, #7a2669 90px, #7a2669);
    }

    .content-dark9 {
        background: linear-gradient(to right, #631f2d, #631f2d 90px, #7a2637 90px, #7a2637);
    }

    .image-dashboard {
        width: 50px;
        height: 50px;
    }
    .widget-chart-one-content {
        padding: 10px;
    }

    #BtnCheckAirwaysBill {
        font-size: 9px !important;
    }
}
@media only screen and (max-width: 1199px) {
    .left-Download-Icon {
        margin-left: -3px !important;
    }

    .dashboard-card-container {
        min-height: 150px;
    }
    .image-dashboard-container {
        width: 130px;
        height: 130px;
        line-height: 130px;
    }
    .content-dark1 {
        background: linear-gradient(to right, #296293, #296293 130px, #337AB7 130px, #337AB7);
    }
    .content-dark2 {
        background: linear-gradient(to right, #C08B3E, #C08B3E 130px, #F0AD4E 130px, #F0AD4E);
    }
    .content-dark3 {
        background: linear-gradient(to right, #B04340, #B04340 130px, #D9534F 130px, #D9534F);
    }
    .content-dark4 {
        background: linear-gradient(to right, #019388, #019388 130px, #01B8AA 130px, #01B8AA);
    }
    .content-dark5 {
        background: linear-gradient(to right, #B8651B, #B8651B 130px, #E67E22 130px, #E67E22);
    }
    .content-dark6 {
        background: linear-gradient(to right, #1F5163, #1F5163 130px, #26647A 130px, #26647A);
    }

    .content-dark7 {
        background: linear-gradient(to right, #1f6339, #1f6339 130px, #267a46 130px, #267a46);
    }

    .content-dark8 {
        background: linear-gradient(to right,#631f55, #631f55 130px, #7a2669 130px, #7a2669);
    }

    .content-dark9 {
        background: linear-gradient(to right, #631f2d, #631f2d 130px, #7a2637 130px, #7a2637);
    }

    .image-dashboard {
        width: 80px;
        height: 80px;
    }
    .widget-chart-one-content {
        padding: 20px;
    }
    .text-amount {
        margin-top: 15px;
        font-size: 40px;
    }
    .text-count h3 {
        font-size: 20px;
    }

    .text-countExpSFM h3 {
        font-size: 15px;
    }

    .sfm-file {
        margin-top: 10px;
        margin-left: -1%;
    }

    .sfm-file-download {
        margin-top: -15px !important;
        margin-left: -1%;
    }

}

@media only screen and (max-width: 985px) {
    .sfm-file {
        margin-top: 10px;
        margin-left: -7%;
    }

    .sfm-file-download {
        margin-top: -15px !important;
        margin-left: -7%;
    }
}

@media only screen and (max-width: 768px) {
    .dashboard-card-container {
        min-height: 130px;
    }
    .image-dashboard-container {
        width: 110px;
        height: 110px;
        line-height: 110px;
    }
    .content-dark1 {
        background: linear-gradient(to right, #296293, #296293 110px, #337AB7 110px, #337AB7);
    }
    .content-dark2 {
        background: linear-gradient(to right, #C08B3E, #C08B3E 110px, #F0AD4E 110px, #F0AD4E);
    }
    .content-dark3 {
        background: linear-gradient(to right, #B04340, #B04340 110px, #D9534F 110px, #D9534F);
    }
    .content-dark4 {
        background: linear-gradient(to right, #019388, #019388 110px, #01B8AA 110px, #01B8AA);
    }
    .content-dark5 {
        background: linear-gradient(to right, #B8651B, #B8651B 110px, #E67E22 110px, #E67E22);
    }
    .content-dark6 {
        background: linear-gradient(to right, #1F5163, #1F5163 110px, #26647A 110px, #26647A);
    }

    .content-dark7 {
        background: linear-gradient(to right, #1f6339, #1f6339 110px, #267a46 110px, #267a46);
    }

    .content-dark8 {
        background: linear-gradient(to right,#631f55, #631f55 110px, #7a2669 110px, #7a2669);
    }

    .content-dark9 {
        background: linear-gradient(to right, #631f2d, #631f2d 110px, #7a2637 110px, #7a2637);
    }

    .image-dashboard {
        width: 70px;
        height: 70px;
    }
    .widget-chart-one-content {
        padding: 15px;
    }
    .text-amount {
        margin-top: 20px;
        font-size: 30px;
    }
    .text-count h3 {
        font-size: 15px;
    }

    .text-countExpSFM h3 {
        font-size: 15px;
    }
}


@media only screen and (max-width: 411px) {
    #GridEntitlement .dx-toolbar .dx-texteditor {
        width: 100px !important;
    }

    #GridEntitlement .dx-toolbar .dx-toolbar-after {
        padding-left: 0px;
        width: 100px !important;
    }

    #GridEntitlement .dx-datagrid-search-panel {
        margin-left: 0px;
    }
}

@media (min-width:1029px) {
    #burgerbutton {
        display: none !important;
    }
}



