﻿@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using SemarAutomation.Controllers.Services
@inject IHttpContextAccessor HttpContextAccessor
@inject IAuthorizationService AuthorizationService

@{
    var BaseUrl = MyHttpContext.AppBaseUrl;
    var appBaseUrl = BaseUrl.Replace("http:", "https:");
    var userId = "";
    if (User.Identity.IsAuthenticated) userId = MyHttpContext.UserId;

    var userToken = HttpContextAccessor.HttpContext.User.Claims;
    var link = "https://funrate.algostudio.net/portsfm/";

    if (userToken.Any(a => a.Type == "token"))
    {
        link = link + userToken.First(a => a.Type == "token").Value;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Semar Automation - @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="EClaim" name="description" />
    <meta content="Philips" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">

    <!-- App css -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/app.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />

    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)

    <script src="~/js/devextreme/jquery.js"></script>

    <!-- Vendor js -->
    <script src="~/js/vendor.min.js"></script>

    <script src="~/js/devextreme/cldr.js"></script>
    <script src="~/js/devextreme/cldr/event.js"></script>
    <script src="~/js/devextreme/cldr/supplemental.js"></script>
    <script src="~/js/devextreme/cldr/unresolved.js"></script>

    <script src="~/js/devextreme/globalize.js"></script>
    <script src="~/js/devextreme/globalize/message.js"></script>
    <script src="~/js/devextreme/globalize/number.js"></script>
    <script src="~/js/devextreme/globalize/currency.js"></script>
    <script src="~/js/devextreme/globalize/date.js"></script>

    <script src="~/js/devextreme/jszip.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

</head>

<body>
    <input hidden name="appBaseUrl" value="@appBaseUrl" id="appBaseUrl" />
    <input hidden name="userId" value="@userId" id="userNotifId" />
    <div id="wrapper">
        <!-- Topbar Start -->
        <div style="background-color: #343A40;" class="navbar-custom">
            <ul class="list-unstyled topnav-menu float-right mb-0">

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" id="myNotif" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="dripicons-bell noti-icon"></i>
                        <span class="badge badge-info noti-icon-badge" id="messagesList">0</span>
                        <input type="hidden" id="signalRConnectionId" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg" style="width:450px;">

                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h5 class="m-0">
                                <span class="float-right">
                                    <a style="cursor:pointer;" onclick="markAllRead()" class="text-dark">
                                        <small>Tandai semua sebagai terbaca</small>
                                    </a>
                                </span>Notifikasi
                            </h5>
                        </div>

                        <div class="slimscroll noti-scroll">
                            <div class="text-center user-notif-loading">
                                <div class="spinner-border text-primary" style="margin-top:165px !important;" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <!-- item-->
                            <div class="user-notif-items">
                            </div>
                        </div>

                        <!-- All-->
                        <a asp-controller="Notifications" asp-action="Index" class="dropdown-item text-center text-primary notify-item notify-all">
                            Lihat Semua
                            <i class="fi-arrow-right"></i>
                        </a>

                    </div>
                </li>

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="~/images/users/avatar-4.jpg" alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ml-1">
                            @User.Claims.First(a => a.Type == "username").Value <i class="mdi mdi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h6 class="m-0">
                                Welcome !
                            </h6>
                        </div>
                        <!-- item-->
                        <a href="~/Identity/Account/Manage" class="dropdown-item notify-item">
                            <i class="dripicons-user"></i>
                            <span>My Account</span>
                        </a>
                        <!-- item-->
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" onclick="ClearFilterDevExpress()" class="dropdown-item notify-item" style="cursor:pointer;"><i class="dripicons-power"></i> <span>Logout</span></button>
                        </form>
                    </div>
                </li>
            </ul>

            <ul class="list-unstyled menu-left mb-0">
                <li class="float-left">
                    <a asp-controller="Home" asp-action="Index" class="logo">
                        <span class="logo-lg">
                            <img src="~/images/signify.png" alt="" height="36">
                        </span>
                        <span class="logo-sm">
                            <img src="~/images/signify-min.png" alt="" height="24">
                        </span>
                    </a>
                </li>
                <li id="burgerbutton" class="float-left">
                    <a class="button-menu-mobile navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                </li>
                <li class="app-search d-none d-md-block">

                </li>
            </ul>
        </div>

        <!-- ========== Sidebar Start ========== -->
        <div style="background: #3C3C41 !important " class="left-side-menu">
            <div class="">
                <div id="sidebar-menu-sfm">
                    <ul class="metismenu" id="side-menu">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link @if (ViewData["Title"] == "Dashboard") { @:SFMSideBar-active
                                   }"> <i class="mdi mdi-speedometer"></i><span>Dashboard</span></a>
                        </li>

                        @if (User.IsInRole("Marketing") || User.IsInRole("Finance") || User.IsInRole("Super Admin") || User.IsInRole("Guest"))
                        {
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Program" class="nav-link @if (ViewData["Title"] == "Program") { @:SFMSideBar-active
                            }">
                                    <i class="mdi mdi-file-document-box-multiple-outline"></i><span>Program</span>
                                </a>
                            </li>

                            @if (!User.IsInRole("Guest"))
                            {
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="UploadEntitlement" class="nav-link @if (ViewData["Title"] == "Upload SFM Entitlement") { @:SFMSideBar-active
                                }"><i class="mdi mdi-file-upload"></i><span>Upload Entitlement</span></a>
                                </li>
                            }
                        }

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Entitlement" asp-route-id="" class="nav-link @if (ViewData["Title"] == "Entitlement") { @:SFMSideBar-active
                                   }">
                                <i class="mdi mdi-file-check-outline"></i><span>Entitlement</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="@if (ViewData["Title"] == "Proposal" || ViewData["Title"].ToString().Contains("Form Proposal")) { @:SFMSideBar-active
                                    }">
                                <i class="mdi mdi-book-variant"></i>
                                <span>Proposal</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li>
                                    <a asp-controller="Home" asp-action="Proposal" asp-route-id="" class="@if (ViewData["Title"] == "Proposal" || ViewData["Title"].ToString().Contains("Form Proposal")) { @:SFMSideBar-active
                                    }" aria-expanded="false">
                                        <span>Semua Proposal</span>
                                    </a>
                                </li>

                                <li>
                                    <a asp-controller="Home" asp-action="ApprovedProposal" asp-route-id="" class="@if (ViewData["Title"] == "Proposal Disetujui") { @:SFMSideBar-active
                                    }" aria-expanded="false">
                                        <span>Proposal Disetujui</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Claim" asp-route-id="" class="nav-link @if (ViewData["Title"] == "Daftar Claim" || ViewData["Title"].ToString().Contains("Form Claim")) { @:SFMSideBar-active
                                   }">
                                <i class="mdi mdi-file-document-outline"></i><span>Claim</span>
                            </a>
                        </li>

                        @if (userToken != null)
                        {
                            <li class="nav-item">
                                <a href="@link" target="_blank" class="nav-link">
                                    <i class="mdi mdi-login"></i><span>Kembali ke SFM</span>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">

                                        <li id="breadtypeclaimid" class="breadcrumb-item"><a href="javascript: void(0);">SFM Channel Program</a></li>
                                        @if ((await AuthorizationService.AuthorizeAsync(User, "Distributor")).Succeeded)
                                        {
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Distributor</a></li>
                                        }
                                        else if ((await AuthorizationService.AuthorizeAsync(User, "ASM")).Succeeded)
                                        {
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">ASM</a></li>
                                        }
                                        else if ((await AuthorizationService.AuthorizeAsync(User, "Channel Lead")).Succeeded)
                                        {
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Channel Lead</a></li>
                                        }
                                        else if ((await AuthorizationService.AuthorizeAsync(User, "Marketing")).Succeeded)
                                        {
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Marketing</a></li>
                                        }
                                        else if ((await AuthorizationService.AuthorizeAsync(User, "Finance")).Succeeded)
                                        {
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Finance</a></li>
                                        }
                                        else if ((await AuthorizationService.AuthorizeAsync(User, "Legal")).Succeeded)
                                        {
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Legal</a></li>
                                        }
                                        else if ((await AuthorizationService.AuthorizeAsync(User, "SuperAdmin")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "Administrator")).Succeeded)
                                        {
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                        }

                                        <li id="breadcrumbid" class="breadcrumb-item">@ViewData["Title"]</li>
                                    </ol>
                                </div>
                                <h4 id="pagetitleid" class="page-title">@ViewData["Title"]</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    @if (HttpContextAccessor.HttpContext.Session.GetString("Alert") != null)
                    {
                        @if (HttpContextAccessor.HttpContext.Session.GetString("Alert") != " ")
                        {
                            <input name="TitleAlert" value="@HttpContextAccessor.HttpContext.Session.GetString("AlertTitle")" class="d-none" />
                            <input name="TypeAlert" value="@HttpContextAccessor.HttpContext.Session.GetString("AlertType")" class="d-none" />
                            <input name="MessageAlert" value="@HttpContextAccessor.HttpContext.Session.GetString("Alert")" class="d-none" />
                        }
                        else
                        {
                            <input name="Nonee" value="@HttpContextAccessor.HttpContext.Session.GetString("Alert")" class="d-none" />
                        }
                    }

                    @RenderBody()
                </div> <!-- container -->
            </div> <!-- content -->

        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->
    <!-- KNOB JS -->
    <script src="~/lib/jquery-knob/jquery.knob.min.js"></script>

    <!-- Javascript -->
    <script src="~/js/mdb.min.js"></script>
    @*<script src="~/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/scrollspy.min.js"></script>

    <script src="~/js/Pagination.js"></script>
    <script src="~/js/numeral.min.js"></script>
    <!-- Dashboard Init JS -->
    @*<script src="~/js/pages/dashboard.init.js"></script>*@

    <!-- App js -->
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script>
        var currentNotifLength = 0;
        var updateNotifLength = 0;
        $(function () {
            return fetch($("input[name='appBaseUrl']").val() + "/Api/SFMClaimData/GetNotificationReadCount?userId=" + $("input[name='userId']").val(), {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json()
                .then(res => {
                    currentNotifLength = res;
                    $("#messagesList").text(res);
                })
            )
                .catch(error => {
                })
        });

        var userId = $("#userId").val();
 
        var url = $("input[name='appBaseUrl']").val() + "/Api/SFMClaimData/GetNotification?userId=" + $("input[name='userId']").val();
        var isOpened = false;
        var isStoped = false;
        $("#myNotif").on('click', function () {
            if (updateNotifLength != 0) {
                if (updateNotifLength != currentNotifLength) {
                    $(".user-notif-items").empty();
                    GetNotifFetch();
                }
            }
            else {
                if (isOpened == false) {
                    GetNotifFetch();
                }
            }

        });
        var _skip = 0;
        function GetNotifFetch($skip) {
            url = $("input[name='appBaseUrl']").val() + "/Api/SFMClaimData/GetNotification?userId=" + $("input[name='userId']").val();
            if ($skip) {
                url = $("input[name='appBaseUrl']").val() + "/Api/SFMClaimData/GetNotification?userId=" + $("input[name='userId']").val() + "&skip=" + $skip;
                if (_skip == _skip) {
                    isStoped = true;
                }
            }

            if (isStoped == false) {
                return fetch(url, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }).then(response => response.json()
                    .then(res => {
                        isOpened = true;
                        var data = JSON.parse(res);
                        $(".user-notif-loading").addClass("d-none");
                        var miliday = 24 * 60 * 60 * 1000;
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth() + 1;
                        var yyyy = today.getFullYear();
                        var date = dd + '/' + mm + '/' + yyyy;

                        data.forEach(function (item) {
                            _skip = _skip + 1;
                            var belumDibaca = "";
                            var time = "";
                            var dateItem = new Date(item.Date);
                            var timed = dateItem.getDate();
                            var timem = dateItem.getMonth() + 1;
                            var timey = dateItem.getFullYear();
                            var timedate = timed + '/' + timem + '/' + timey;
                            if (timedate == date) {
                                var minutes = dateItem.getMinutes();
                                if (minutes < 10) {
                                    minutes = "0" + dateItem.getMinutes();
                                }
                                time = dateItem.getHours() + ":" + minutes;
                            } else {
                                var tglPertama = Date.parse(dateItem);
                                var tglKedua = Date.parse(today);
                                time = Math.round((tglKedua - tglPertama) / miliday) + " hari lalu";
                            }

                            if (item.IsRead == false) {
                                belumDibaca = "belumDibaca";
                            }
                            var urlNotif = item.Url.replace("http:", "https:");
                            $(".user-notif-items").append("<a style='cursor:pointer;' class='dropdown-item notify-item " + belumDibaca + "' onclick='return clickNotif(" + item.Id + ")'" +
                                "'><div style='background-color:" + item.Color + "; ' class='notify-icon'><i class='" + item.Icon + "'></i> </div><p class='notify-details'>" + item.Title + "<small>" + time +
                                "</small></p><p class='text-muted mb-0 user-msg'><small>" + item.Message + "</small></p></a>");
                        });
                        if (data.length == 0) {
                            $(".user-notif-items").append("<p class='text-muted mb-0 text-center text-nothing-notif'>Tidak ada notifikasi</p>");
                            isStoped = true;
                        }
                    })
                )
            }
        }

        function clickNotif(e) {
            var url = $("input[name='appBaseUrl']").val() + "/Api/SFMClaimPost/ReadNotification";
            var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
            return fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: e })
            }).then(response => response.json()
                .then(res => {
                    var dataresult = JSON.parse(res);
                    if (dataresult.Status == "Success") {

                        var linkResultClick = dataresult.Content.replace("http:", "https:");
                        //if (!linkResultClick.includes("www.apacsmart.com")) {
                        //    linkResultClick = linkResultClick.replace("apacsmart.com", "www.apacsmart.com")
                        //}

                        location.href = linkResultClick;
                    }
                })
            )
                .catch(error => {
                })
        }

        function markAllRead() {
            var e = $("input[name='userId']").val();
            var url = $("input[name='appBaseUrl']").val() + "/Api/SFMClaimPost/ReadNotificationAll";
            var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
            return fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': antiForgeryToken
                },
                body: JSON.stringify({ UserId: e })
            }).then(response => response.json()
                .then(res => {
                    location.reload(true);
                })
            )
            .catch(error => {
                location.reload(true);
            })
            //location.reload(true);
        }

        var $scrollable = $('.slimScrollDiv');
        var state = {
            pos: {
                lowest: 0,
                current: 0
            },
            offset: {
                top: [0, 0], //Old Offset, New Offset
            }
        }
        var countBot = 0;
        $scrollable.slimScroll().bind('slimscrolling', function (e, pos) {
            // Highest Position
            state.pos.highest = pos !== state.pos.highest ?
                pos > state.pos.highest ? pos : state.pos.highest
                : state.pos.highest;

            // Update Offset State
            state.offset.top.push(pos - state.pos.lowest);
            state.offset.top.shift();
            if (state.offset.top[0] < state.offset.top[1]) {
            } else if (state.offset.top[1] < state.offset.top[0]) {
            } else {
                GetNotifFetch(_skip);
            }
        });

        function ClearFilterDevExpress() {
            $("#GridClaimList").dxDataGrid("instance").clearFilter();
            $("#GridProgram").dxDataGrid("instance").clearFilter();
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>