﻿@page
@model SemarAutomation.Areas.Identity.Pages.Account.Manage.IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    ViewData["BackUrl"] = Url.Action("Index", "BDFClaim");

    if (Model.Input.IsSFM)
    {
        Layout = "_SFMLayout";
    }

}


<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12 mr-0" id="tabs">
                    <ul class="nav nav-tabs nav-bordered">
                        <li class="nav-item">
                            <a href="#DataAkun" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                <i class="mdi mdi-file-document-box-outline">&nbsp;</i><span> Data Akun</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#EditProfile" data-toggle="tab" aria-expanded="true" class="nav-link">
                                <i class="mdi mdi-account-edit">&nbsp;</i><span> Edit Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#Editpassowrd" data-toggle="tab" aria-expanded="true" class="nav-link">
                                <i class="mdi mdi-textbox-password">&nbsp;</i><span> Edit Password</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="DataAkun">
                    @if (Model.Input.IsSFM)
                    {
                        <div class="row offset-2">
                            <div class="col-8 float-left">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="float-left">Data Akun</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row offset-2">
                            <div class="col-8 float-left">
                                <div class="row">
                                    <div class="col-2">
                                        <p class="Text-MyAccount">Nama</p>
                                    </div>
                                    <div class="col-1">:</div>
                                    <div style="margin-left:-20px" class="col-9 float-left">
                                        @Model.Input.Nama
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.Input.role == "Distributor")
                        {
                            <div style="margin-top:-15px;" class="row offset-2">
                                <div class="col-8 float-left">
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="Text-MyAccount">Company</p>
                                        </div>
                                        <div class="col-1">:</div>
                                        <div style="margin-left:-20px" class="col-9 float-left">
                                            @Model.Input.CompanyDistributor
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="margin-top:-15px;" class="row offset-2">
                                <div class="col-8 float-left">
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="Text-MyAccount">No.Account</p>
                                        </div>
                                        <div class="col-1">:</div>
                                        <div style="margin-left:-20px" class="col-9 float-left">
                                            @Model.Input.Account
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div style="margin-top:-15px;" class="row offset-2">
                            <div class="col-8 float-left">
                                <div class="row">
                                    <div class="col-2">
                                        <p class="Text-MyAccount">Telp</p>
                                    </div>
                                    <div class="col-1">:</div>
                                    <div style="margin-left:-20px" class="col-9 float-left">
                                        @Model.Input.Telp
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:-15px;" class="row offset-2">
                            <div class="col-8 float-left">
                                <div class="row">
                                    <div class="col-2">
                                        <p class="Text-MyAccount">Email</p>
                                    </div>
                                    <div class="col-1">:</div>
                                    <div style="margin-left:-20px" class="col-9 float-left">
                                        @Model.Input.Email
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:-15px;" class="row offset-2">
                            <div class="col-8 float-left">
                                <div class="row">
                                    <div class="col-2">
                                        <p class="Text-MyAccount">Channel</p>
                                    </div>
                                    <div class="col-1">:</div>
                                    <div style="margin-left:-20px" class="col-9 float-left">
                                        @Model.Input.Channel
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div style="margin-top:-15px;" class="row offset-2">
                            <div class="col-8 float-left">
                                <div class="row">
                                    <div class="col-2">
                                        <p class="Text-MyAccount">Role</p>
                                    </div>
                                    <div class="col-1">:</div>
                                    <div style="margin-left:-20px" class="col-9 float-left">
                                        @if (Model.Input.role == "Marketing")
                                        {
                                            <span>Channel Marketing</span>
                                        }
                                        else
                                        {
                                            <span>@Model.Input.role</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
                <div class="tab-pane" id="EditProfile">
                    <div class="row">
                        <div class="col-8 offset-2">
                            <h3>Edit Profile </h3>
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input asp-for="Input.Status" value="editprofile" hidden />
                                <input asp-for="Input.Id" hidden />
                                <div class="form-group">
                                    <label asp-for="Input.Nama"></label>
                                    <input asp-for="Input.Nama" class="form-control" />
                                    @*<span asp-validation-for="Input.OldPassword" class="text-danger"></span>*@
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    @*<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>*@
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Telp"></label>
                                    <input asp-for="Input.Telp" class="form-control" />
                                    @*<span asp-validation-for="Input.NewPassword" class="text-danger"></span>*@
                                </div>
                                <div class="row float-right">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary"><i class="mdi mdi-save"></i>Simpan</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="Editpassowrd">
                    <div class="row">
                        <div class="col-8 offset-2">
                            <h3>Edit Password</h3>
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Input.Status" value="editpassword" hidden />
                                    <label asp-for="Input.OldPassword"></label>
                                    <input asp-for="Input.OldPassword" class="form-control" />
                                    @*<span asp-validation-for="Input.OldPassword" class="text-danger"></span>*@
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.NewPassword"></label>
                                    <input asp-for="Input.NewPassword" class="form-control" />
                                    <p style="font-size:12px; color:#E4A84F;">Format password : Password harus mengandung angka, simbol, huruf kecil, huruf kapital dan lebih dari 6 karakter.</p>
                                    @*<span asp-validation-for="Input.NewPassword" class="text-danger"></span>*@
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    @*<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>*@
                                </div>
                                <div class="row float-right">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Update password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div> <!-- end card-box-->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function tabeditprofile() {
            $('[href="#EditProfile"]').click();
        }

        function tabpassword() {
            $('[href="#Editpassowrd"]').click();
        }

    </script>
}

