﻿@model SFMFormClaimViewModel

<h1 class="header-title text-center mb-3"> Riwayat Aktivitas </h1>
@(Html.DevExtreme().DataGrid()
    .ID("GridHistoryLog")
    .ShowBorders(true)
    .Export(e => e.Enabled(true)
    .FileName("LogHistory")
    .AllowExportSelectedData(true))
    .DataSource(d => d.Mvc()
        .Controller("SFMClaimData")
        .LoadAction("GetHistoryLogApproval")
        .LoadParams(new { approvalId = Model.ApprovalTask.Id })
        .Key("id")
    )
    .Selection(s => s.Mode(SelectionMode.Multiple)
    .ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
    //.ColumnFixing(c => c.Enabled(true))
    .AllowColumnResizing(true)
    .StateStoring(s => s
        .Enabled(true)
        .Type(StateStoringType.Custom)
        .StorageKey("IdHistoryLog")
    )
    .SearchPanel(searchPanel => searchPanel
        .Visible(true)
        .Width(240)
        .Placeholder("Search")
    )
    //.HeaderFilter(headerFilter => headerFilter.Visible(true))
    .Paging(paging => paging.PageSize(20))
    .Pager(pager =>
    {
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new[] { 20, 50, 100 });
        pager.ShowInfo(true);
    })
    .OnToolbarPreparing("toolbar_preparing")
    .ColumnChooser(c => c.Enabled(true).Mode(GridColumnChooserMode.Select).Title("Choose Column"))
    .Columns(columns =>
    {
        columns.Add().DataField("user").Caption("PIC").Width(300);
        columns.Add().DataField("createdAt").Caption("Tanggal").DataType(GridColumnDataType.DateTime).Format("dd MMM yyyy").Width(100);
        columns.Add().DataField("action").Caption("Action").Width(380);
        columns.Add().DataField("comment").Caption("Comment");
    })
)

<script>
    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            widget: "dxButton",
            options: {
                text: 'Reset Filter',
                icon: "refresh",
                onClick: function () {
                    dataGrid.clearFilter();
                }
            }
        });

        const toolbarItems = e.toolbarOptions.items;
        toolbarItems.forEach((item) => {
            item.location = 'before';
        });
    }
</script>