﻿@model SFMFormClaimViewModel
@{
    int commentLoad = ViewBag.CommentLoad;
    var activetab = ViewBag.ActiveTab;
    var ListComment = Model.ApprovalComment.OrderByDescending(a => a.CreatedAt).Take(commentLoad).ToList();
}

<h5><i class="mdi mdi-comment-multiple-outline">&nbsp;</i> Diskusi</h5>
@if (ListComment.Count > 0)
{
    @foreach (var data in ListComment)
    {
        <div class="mb-1 Comment-BackGround card">
            <div class="card-body">

                @{
                    var RoleCommentName = data.Role == "Marketing" ? "Channel Marketing" : data.Role;
                }

                <h6 style="margin-top:-5px;"><i class="mdi mdi-account-circle">&nbsp;</i> @data.Name (@RoleCommentName), <span> @data.CreatedAt.ToString("dd MMMM yyyy")</span></h6>
                <p style="margin-bottom:-3px;">
                    " @data.Comment "
                </p>
            </div>
        </div>
    }
}
else
{
    <div class="mb-1 Comment-BackGround card">
        <div class="card-body">
            <p style="margin-bottom:-3px;">
                " Belum ada diskusi Tersedia "
            </p>
        </div>
    </div>
}

@*Submit Comment*@
@if (Model.User.RoleName != "Guest")
{
    <div class="options">
        <div class="option">
            <h5><i class="mdi mdi-account-circle">&nbsp;</i> @ViewBag.Userlogged, @DateTime.Now.ToString("dd MMMM yyyy"):</h5>
            @if (string.IsNullOrEmpty(Model.ApprovalTask.Status) || Model.ApprovalTask.Status == "Rejected")
            {
                @(Html.DevExtreme().TextArea()
                    .ID("example-textarea")
                    .Name("Comment")
                    .Placeholder("Tambahkan diskusi Anda")
                    .Height(120)
                    .Disabled(true)
                )
                <p style="font-size:12px; color:#E4A84F;">Note: Mohon untuk menyelesaikan pengajuan proposal Anda terlebih dahulu, untuk melakukan diskusi.</p>
            }
            else
            {
                @(Html.DevExtreme().TextArea()
                 .ID("example-textarea")
                 .Name("Comment")
                 .Placeholder("Tambahkan diskusi Anda")
                 .Height(120)
                )
                <input id="ActiveTab" value="@ViewBag.ActiveTab" hidden />
            }
        </div>
        <input id="ApprovalTaskCommentId" value="@Model.ApprovalTask.Id" type="hidden" />
    </div>
    <div class="row mt-2">
        <div class="col-12">
            @if (string.IsNullOrEmpty(Model.ApprovalTask.Status) || Model.ApprovalTask.Status == "Rejected")
            {
                <button class="btn btn-primary float-right" disabled>Submit Diskusi</button>
            }
            else
            {
                <a onclick="onclickComment()" style="color:white;" class="btn btn-primary float-right">Submit Diskusi</a>
            }
        </div>
    </div>
}

<script>
    var setactivetab = $('#ActiveTab').val();
    if (setactivetab == "true") {
        $("a[href='#Comment']").click();
        $(window).on("load", function () {
            $("#setFormButtonFileUpload").hide();
        });

    }

    function setUpload(e) {
        if (e == "hide") {
            $("#setFormButtonFileUpload").hide();
        } else {
            $("#setFormButtonFileUpload").show();
        }
    }

    function onclickComment() {
        var komen = $("#example-textarea").dxTextArea("instance").option('value');
        var idkomen = $("#ApprovalTaskCommentId").val();

        if (komen != null) komen = komen.trim();

        if (komen != "" && komen != null) {
            var datapost = {
                Id: idkomen,
                Comment: komen
            };

            var resultLink = "";

            $.ajax({
                type: "post",
                data: datapost,
                url: $("#appBaseUrl").val() + "/API/SFMClaimPost/CommentPost",
                success: function (d) {
                    resultLink = $("#appBaseUrl").val() + "/" + d;
                    window.location.href = resultLink;
                }
            });
        }
    }

    function onloadMoreComment() {
        var idkomen = $("#ApprovalTaskCommentIdA").val();
        var loadKomen = $("#LoadCommentId").val();

        $.ajax({
            type: "post",
            data: {
                Id: idkomen,
                loadcomment: loadKomen
            },
            url: $("#appBaseUrl").val() + "/SFMClaim/FormProposal",
            success: function (d) {

            }
        });
    }

    function onloadMoreCommentClaim() {
        var idkomen = $("#ApprovalTaskCommentIdA").val();
        var loadKomen = $("#LoadCommentId").val();

        $.ajax({
            type: "post",
            data: {
                Id: idkomen,
                loadcomment: loadKomen
            },
            url: $("#appBaseUrl").val() + "/SFMClaim/FormClaim",
            success: function (d) {

            }
        });
    }

</script>
