﻿<!-- Modal DetailClaim -->
<div id="modalDetailClaim" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-md-center">Detail Entitlement </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4 font-weight-bold">Account </div>
                            <div class="col-1 font-weight-bold">:</div>
                            <div class="col-7 text-md-left"><label class="accountText"></label></div>
                        </div>
                    </div>
                    @*<div class="col-2"></div>*@
                    <div class="col-6">
                        <div class="row">
                            <div class="col-5 font-weight-bold">Expired Claim Date</div>
                            <div class="col-1 font-weight-bold">:</div>
                            <div class="col-6 text-md-left"><label class="expiryDateText"></label></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4 font-weight-bold">Distributor Name</div>
                            <div class="col-1 font-weight-bold">:</div>
                            <div class="col-7 text-md-left"><label class="nameText"></label></div>
                        </div>
                    </div>
                    @*<div class="col-2"></div>*@
                    <div class="col-6">
                        <div class="row">
                            <div class="col-5 font-weight-bold">Entitlement</div>
                            <div class="col-1 font-weight-bold">:</div>
                            <div class="col-6 text-md-left"><label class="entitlementText"></label></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4 font-weight-bold">Program </div>
                            <div class="col-1 font-weight-bold">:</div>
                            <div class="col-7 text-md-left"><label class="programText"></label></div>
                        </div>
                    </div>
                    @*<div class="col-2"></div>*@
                    <div class="col-6">
                        <div class="row">
                            <div class="col-5 font-weight-bold">Entitlement Balance</div>
                            <div class="col-1 font-weight-bold">:</div>
                            <div class="col-6 text-md-left"><label class="balanceText"></label></div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        @(Html.DevExtreme().DataGrid()
                            .ID("GridDetailEntitlement")
                            .RepaintChangesOnly(true)
                            .ShowBorders(true)
                            .ColumnFixing(c => c.Enabled(true))
                            .AllowColumnResizing(true)
                            .DataSource(d => d.Mvc()
                                .Controller("BDFClaimData")
                                .LoadAction("GetDetailEntitlement")
                                .Key("entitlementId")
                            )
                            .Export(e => e.Enabled(true).FileName("Detail Entitlement"))
                            .OnFileSaving("OnFileSaving")
                            .SearchPanel(searchPanel => searchPanel
                                .Visible(true)
                                .Width(240)
                                .Placeholder("Search...")
                            )
                            .HeaderFilter(headerFilter => headerFilter.Visible(true))
                            .Paging(paging => paging.PageSize(20))
                            .Pager(pager =>
                            {
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new[] { 20, 50, 100 });
                                pager.ShowInfo(true);
                            })
                            .Columns(columns =>
                            {
                                columns.Add().DataField("date").Caption("Claim Date").DataType(GridColumnDataType.DateTime).Format("dd MMM yyyy");
                                columns.Add().DataField("value").Caption("Nominal").Format("Rp #,###");
                                columns.Add().DataField("valueTotal").Caption("Total Nominal Proposal").Format("Rp #,###");
                                columns.Add().DataField("type");
                                columns.Add().DataField("remark").Width(500);
                            })
                        )
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal EditEntitlement -->
<div id="modalEditClaim" class="modal fade pr-0" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-md-center">Edit Entitlement</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-4">
                        <label>Distributor</label>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-7"><label class="distributorText"></label></div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <label>Program</label>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-7"><label class="programText"></label></div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <label>Entitlement</label>
                    </div>
                    <div class="col-1">:</div>
                    <div style="margin-top:-10px !important;" class="col-7">
                        @(Html.DevExtreme().NumberBox().Format("Rp #,##0").Min(0).Step(0).ID("EntitlementEdit").Name("EntitlementEdit").OnInput("EntitlementEditChange"))
                        <span id="nominalEditspan" style="color:#F44336; font-size:12px !important;" class="fs-smaller">Entitlement tidak bisa minus.</span>
                        @*<input type="number" class="form-control" name="EntitlementEdit" value="" oninput="EntitlementEditChange(this.value)" />*@
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <label>Entitlement Balance</label>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-5">
                        <label class="balanceText"></label>
                    </div>
                    <div class="col-2 text-md-right">
                        <button type="button" id="btnInfoEditEntitlement" style="height: 27px; padding: 3px; width: 27px;" tabindex="0" class="btn btn-warning d-none" data-toggle="popover"
                                data-trigger="focus" title="" data-content="Nilai entitlement adalah 0. Semua klaim terkait pada entitlement ini akan otomatis tertolak oleh sistem." data-original-title="Informasi">
                            <i class="dripicons-information"></i>
                        </button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <label>Tanggal Expired Claim</label>
                    </div>
                    <div class="col-1">:</div>
                    <div style="margin-top:-10px !important;" class="col-7">
                        @Html.DevExtreme().DateBox().ID("ExpiredDateEdit").Type(DateBoxType.Date).Min(DateTime.Today).DisplayFormat("dd MMMM yyyy")
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                    </div>
                    <div class="col-1"></div>
                    <div class="col-7">
                        @Html.DevExtreme().Button().ID("BtnEditEntitlement").Type(ButtonType.Success).Width(265).Text("Simpan").OnClick("EditEntitlementClick")
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal EditDetailEntitlement -->
<div id="modalEditDetailEntitlement" class="modal fade pr-0 border-primary" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-md-center">Edit Detail Entitlement</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-4">
                        <label>Distributor Account</label>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-7">
                        <label class="detailDistributorAcountText"></label>
                        <input type="text" class="d-none" name="DetailId" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <label>Program</label>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-7"><label class="detailProgramText"></label></div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <label>Type</label>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-7"><label class="detailTypeText"></label></div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">
                        <label>Nominal</label>
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-6">
                        @(Html.DevExtreme().NumberBox().Format("Rp #,##0").Min(0).Step(0).ID("DetailNominalEdit").Name("DetailNominalEdit").OnInput("DetailNominalEditChange"))
                        <span id="nominalEditDetailspan" style="color:#F44336; font-size:12px !important;" class="fs-smaller">Nominal proposal tidak bisa lebih nominal awal.</span>
                        <input id="batasEntitlementNominalID" type="number" hidden />
                        @*<input type="number" class="form-control" name="DetailNominalEdit" value="" oninput="DetailNominalEditChange(this.value)" />*@
                    </div>
                    <div class="col-1 text-md-right">
                        <button type="button" id="btnInfoEditDetailEntitlement" style="height: 35px; padding: 3px; margin-left:-20px; width: 35px;" tabindex="0" class="btn btn-warning" data-toggle="popover"
                                data-trigger="focus" title="" data-content="Jika nominal di isi 0, maka detail akan terhapus dan balance entitlement akan kembali seperti semula." data-original-title="Informasi">
                            <i class="dripicons-information"></i>
                        </button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                    </div>
                    <div class="col-1"></div>
                    <div class="col-7">
                        @Html.DevExtreme().Button().ID("BtnEditDetailEntitlement").Type(ButtonType.Success).Width(265).Text("Simpan").OnClick("EditDetailEntitlementClick")
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->