﻿@page
@model SemarAutomation.Areas.Identity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "_LayoutAccount";
}

    <div class="text-center">
        <div class="mb-4">
            <a href="/">
                <span><img src="~/images/signify.png" alt="EClaim" height="45"></span>
            </a>
        </div>
        <h1 class="text-error">401</h1>
        <h4 class="text-uppercase text-danger mt-3">Access Denied</h4>
        <p class="text-muted mt-3">Akses anda menuju halaman ini ditolak. Silakan kembali ke halaman sebelumnya atau klik tombol dibawah</p>
        <a class="btn btn-success mt-3 d-inline" href="javascript:history.back()"><i class="mdi mdi-home mr-1"></i> Kembali ke Halaman sebelumnya</a>
       
    </div>

