﻿@page "/login"
@model SemarAutomation.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutAccount";
}

<div class="text-center mb-3">
    <a href="/">
        @*<h3>Philip EClaim</h3>*@
        <img src="~/images/signify.png" alt="EClaim" height="45">
    </a>
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form id="account" method="post" class="pt-2">
    <div class="form-group mb-3">
        <label asp-for="Input.Email">Email address / Username</label>
        <input asp-for="Input.Email" class="form-control" autocomplete="off" required="" placeholder="Enter your email / username">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <a asp-page="./ForgotPassword" class="text-muted float-right"><small>Forgot your password?</small></a>
        <label asp-for="Input.Password">Password</label>
        <input class="form-control" type="password" required="" asp-for="Input.Password" placeholder="Enter your password">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" asp-for="Input.RememberMe">
        <label class="custom-control-label" asp-for="Input.RememberMe">Ingat Saya</label>
    </div>
    <div class="form-group mb-0 text-center">
        <button onclick="btn" class="btn btn-success btn-block" type="submit"> Log In </button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
