﻿@{
    Layout = "_SFMLayout";
    ViewData["Title"] = "Proposal Disetujui";

    ApplicationUser currentUser = ViewBag.user;
}

<style>
    .dx-header-row {
        color: dimgrey !important;
        background-color: #F7F9FC !important;
    }

    .dx-datagrid td {
        font-family: 'Poppins', sans-serif !important;
    }
</style>

<div class="row">
    <div class="card-box col-12">
        @(Html.DevExtreme().LoadPanel()
            .ID("loadPanel")
            .ShadingColor("rgba(0,0,0,0.4)")
            .Position(p => p.Of("#employee"))
            .Visible(false)
            .ShowIndicator(true)
            .ShowPane(true)
            .Shading(true)
            .CloseOnOutsideClick(false)
            .OnShown("loadPanel_shown")
            .OnHidden("loadPanel_hidden")
        )

        @(Html.DevExtreme().DataGrid<Proposal>()
            .ID("GridProposalList")
            .RepaintChangesOnly(true)
            .ShowBorders(true)
            .Export(e => e.Enabled(true)
            .FileName("SFM_Entitlement_" + DateTime.Today.ToString("dd MMM yyyy"))
            .AllowExportSelectedData(true))
            .ColumnFixing(c => c.Enabled(true))
            .AllowColumnResizing(true)
            .ColumnAutoWidth(true)
            .DataSource(d => d.Mvc()
                .Controller("SFMClaimData")
                .LoadAction("GetApprovedProposal")
                .Key("id")
            )
            .Selection(s => s.Mode(SelectionMode.Multiple))
            .SearchPanel(searchPanel => searchPanel
                .Visible(true)
                .Width(240)
                .Placeholder("Search...")
            )
            .HeaderFilter(headerFilter => headerFilter.Visible(true))
            .Paging(paging => paging.PageSize(20))
            .Pager(pager =>
            {
                pager.ShowPageSizeSelector(true);
                pager.AllowedPageSizes(new[] { 20, 50, 100 });
                pager.ShowInfo(true);
            })
            .OnToolbarPreparing("toolbar_preparing")
            .ColumnChooser(c => c.Enabled(true).Mode(GridColumnChooserMode.Select).Title("Choose"))
            .OnExporting("Exporting")
            .OnExported("Exported")
            .Columns(columns =>
            {
                columns.Add().DataField("proposalNumber").Caption("Proposal Number").Alignment(HorizontalAlignment.Left).Visible(false);
                columns.Add().DataField("accountNumber").Caption("Account Distributor").Alignment(HorizontalAlignment.Left);
                columns.Add().DataField("distributorName").Caption("Distributor");
                columns.Add().DataField("kategori").Caption("Tipe Aktivitas");
                columns.Add().DataField("tipeAktivitas").Caption("Sub Aktivitas").Visible(false);
                columns.Add().DataField("namaAktivitas");
                columns.Add().DataField("segmentPasar").Visible(false);
                columns.Add().DataField("tanggalAktivitas").DataType(GridColumnDataType.DateTime).Format("dd MMM yyyy").Visible(false);
                columns.Add().DataField("opportunity").Visible(false);
                columns.Add().DataField("programName").Caption("Sumber Budget").Visible(false);
                columns.Add().DataField("nominal").Caption("Proposal Amount").AllowSearch(false).Format("Rp #,###").Alignment(HorizontalAlignment.Left);
                columns.Add().DataField("nominalBalance").Caption("Proposal Balance").AllowSearch(false).Format("Rp #,###").Alignment(HorizontalAlignment.Left);
                columns.Add().DataField("actualAmount").Caption("Actual Amount").AllowSearch(false).Format("Rp #,###").Alignment(HorizontalAlignment.Left);
                columns.Add().DataField("createdAt").Caption("Tanggal Proposal").DataType(GridColumnDataType.DateTime).Format("dd MMM yyyy").SortOrder(SortOrder.Desc).Visible(false);
                columns.Add().DataField("expiredDateView").AllowSearch(false).Width(160).Caption("Tanggal Kadaluarsa").CellTemplate(
                            @<text>
                            <span class="badge badge-<%= data.style %> badge-sfmentitlement font-13"><%= data.expiredDateView %></span>
                        </text>);

                if (currentUser.RoleName == "Distributor")
                {
                    columns.Add().Width(180).Caption("Action").Fixed(true).FixedPosition(HorizontalEdge.Right).CellTemplate(
                    @<text>
                        <% if(data.nominalBalance > 0 && data.isExpired == "No"){ %>
                            @Html.DevExtreme().Button().Type(ButtonType.Default).Text("Claim").OnClick("function (e) { openClaim(data) }")
                        <% } else { %>
                            @Html.DevExtreme().Button().Type(ButtonType.Default).Disabled(true).Text("Claim").OnClick("function (e) { openClaim(data) }")
                        <% } %>
                        @Html.DevExtreme().Button().Type(ButtonType.Success).Text("Detail").OnClick("function (e) { openDetailClaim(data) }")
                    </text>);
                } else
                {
                    columns.Add().Width(100).Caption("Action").Fixed(true).FixedPosition(HorizontalEdge.Right).CellTemplate(
                    @<text>
                        @Html.DevExtreme().Button().Text("Detail").Type(ButtonType.Default).Width(74).OnClick("function (e) { openDetailClaim(data) }")
                    </text>);
                }
            })
        )
    </div>
</div>
<iframe id="my_iframe" style="display:none;"></iframe>

<script>
    var exportAccount = "";
    var exportProgram = "";
    function OnFileSaving(e) {
        e.fileName = "Detail of " + exportAccount + "_" + exportProgram;
    }

    function openClaim(e) {
        var url = $("#appBaseUrl").val() + "/Home/FormClaim?e=" + e.proposalNumber;
        window.location.href = url;
    }

    function openDetailClaim(e) {
        var url = $("#appBaseUrl").val() + "/Home/FormProposal/" + e.proposalNumber;
        window.location.href = url;
    }

    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }

    function loadPanel_shown(e) {
        //setTimeout(function() {
        //}, 3000);
    }
    
    function loadPanel_hidden(e) {
        e.component.hide();
    }

    function toolbar_preparing(e) {
        url = $("#appBaseUrl").val();
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            widget: "dxButton",
            options: {
                text: 'Reset Filter',
                icon: "refresh",
                onClick: function () {
                    dataGrid.clearFilter();
                }
            }
        });

        const toolbarItems = e.toolbarOptions.items;
        toolbarItems.forEach((item) => {
            item.location = 'before';
        });
    }
</script>



