﻿@{
    Layout = "_SFMLayout";
    ViewData["Title"] = "Entitlement";

    ApplicationUser currentUser = ViewBag.user;
    var viewDashboard = ViewData["dashboardView"].ToString();
}

<style>
    .dx-header-row {
        color: dimgrey !important;
        background-color: #F7F9FC !important;
    }

    .dx-datagrid td {
        font-family: 'Poppins', sans-serif !important;
    }
</style>

<div class="row">
    <div class="card-box col-12">
        @(Html.DevExtreme().LoadPanel()
            .ID("loadPanel")
            .ShadingColor("rgba(0,0,0,0.4)")
            .Position(p => p.Of("#employee"))
            .Visible(false)
            .ShowIndicator(true)
            .ShowPane(true)
            .Shading(true)
            .CloseOnOutsideClick(false)
            .OnShown("loadPanel_shown")
            .OnHidden("loadPanel_hidden")
        )

        @(Html.DevExtreme().DataGrid<SFMEntitlement>()
                .ID("GridEntitlementList")
                .RepaintChangesOnly(true)
                .ShowBorders(true)
                //.RowAlternationEnabled(true)
                .Export(e => e.Enabled(true)
                .FileName("SFM_Entitlement_" + DateTime.Today.ToString("dd MMM yyyy"))
                .AllowExportSelectedData(true))
                .ColumnFixing(c => c.Enabled(true))
                .AllowColumnResizing(true)
                .ColumnAutoWidth(true)
                .DataSource(d => d.Mvc()
                    .Controller("SFMClaimData")
                    .LoadAction("GetEntitlement")
                    .LoadParams(new { viewDash = viewDashboard })
                    .Key("id")
                )
                .Selection(s => s.Mode(SelectionMode.Multiple))
                .SearchPanel(searchPanel => searchPanel
                    .Visible(true)
                    .Width(240)
                    .Placeholder("Search...")
                )
                .HeaderFilter(headerFilter => headerFilter.Visible(true))
                .Paging(paging => paging.PageSize(20))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new[] { 20, 50, 100 });
                    pager.ShowInfo(true);
                })
                .OnToolbarPreparing("toolbar_preparing")
                .ColumnChooser(c => c.Enabled(true)
                .Mode(GridColumnChooserMode.Select)
                .Title("Choose"))
                .OnExporting("Exporting")
                .OnExported("Exported")
                .Columns(columns =>
                {
                    columns.Add().DataField("account");
                    columns.Add().DataField("distributorName").Caption("Distributor");
                    columns.Add().DataField("programName");
                    columns.Add().DataField("entitlementValue").AllowSearch(false).Format("Rp #,###");
                    columns.Add().DataField("entitlementBalance").AllowSearch(false).Format("Rp #,###");
                    columns.Add().DataField("expiredDateView").AllowSearch(false).Width(180).Caption("Expired Date").CellTemplate(
                            @<text>
                            <span class="badge badge-<%= data.style %> badge-entitlement font-13"><%= data.expiredDateView %></span>
                            </text>);

                    if (currentUser.RoleName != "Distributor" && currentUser.RoleName != "ASM" && currentUser.RoleName != "Guest") {
                        columns.Add().Width(170).Caption("Action").Fixed(true).FixedPosition(HorizontalEdge.Right).CellTemplate(
                        @<text>
                            @Html.DevExtreme().Button().Text("Detail").Type(ButtonType.Default).Width(74).OnClick("function (e) { openDetailClaim(data) }")
                            @Html.DevExtreme().Button().Text("Edit").Type(ButtonType.Danger).Width(74).OnClick("function (e) { openEditClaim(data) }")
                        </text>);
                    } else
                    {
                        columns.Add().Width(100).Caption("Action").Fixed(true).FixedPosition(HorizontalEdge.Right).CellTemplate(
                        @<text>
                            @Html.DevExtreme().Button().Text("Detail").Type(ButtonType.Default).Width(74).OnClick("function (e) { openDetailClaim(data) }")
                        </text>);
                    }
                })
        )

    </div>
</div>
<iframe id="my_iframe" style="display:none;"></iframe>

<partial name="PartialViews/_ModalPartial" />

<script>
    var exportAccount = "";
    var exportProgram = "";
    function OnFileSaving(e) {
        e.fileName = "Detail of " + exportAccount + "_" + exportProgram;
    }

    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }

    function loadPanel_shown(e) {
        //setTimeout(function() {
        //}, 3000);
    }

    function loadPanel_hidden(e) {
        e.component.hide();
    }
    
    function getNumber(nStr) {
        x = nStr.replace("Rp ", '');
        x1 = x.replace(/\./g, '');
        x2 = x1.replace(/\,/g, '');
        return parseInt(x2);
    }

    function formatCurrency(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return "Rp " + x1 + x2;
    }

    function formatDate(date) {
        var month_names = ["Januari", "Februari", "Maret",
            "April", "Mei", "Juni",
            "Juli", "Agustus", "September",
            "Oktober", "November", "Desember"
        ];

        var day = date.getDate();
        var month_index = date.getMonth();
        var year = date.getFullYear();

        return "" + day + "-" + month_names[month_index] + "-" + year;
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            widget: "dxButton",
            options: {
                text: 'Reset Filter',
                icon: "refresh",
                onClick: function () {
                    dataGrid.clearFilter();
                }
            }
        });

        const toolbarItems = e.toolbarOptions.items;
        toolbarItems.forEach((item) => {
            item.location = 'before';
        });

        var getUser = $("#UserRoleId").val();
        if (getUser == "Administrator" || getUser == "Super Admin") {
            e.toolbarOptions.items.unshift({
                location: "before",
                widget: "dxButton",
                options: {
                    text: "Get All Entitlement",
                    icon: "mdi mdi-file-download",
                    onClick: function () {
                        getLoadPanelInstance().show();
                        var url = $("#appBaseUrl").val();
                        $.ajax({
                            type: "GET",
                            url: url + "/Admin/ExportEntitlement",
                            success: function (result) {
                                if (result.includes('https')) {
                                    document.getElementById('my_iframe').src = result;
                                }
                                else {
                                    if (result.includes('http')) {
                                        var hasil = result.replace("http", "https");
                                        document.getElementById('my_iframe').src = hasil;
                                    } else {
                                        Swal.fire({
                                            type: 'error',
                                            title: 'Gagal',
                                            text: 'Terjadi kesalahan, mohon ulangi.'
                                        });
                                    }
                                }
                                getLoadPanelInstance().hide();
                            },
                            error: function (result) {
                                Swal.fire({
                                    type: 'error',
                                    title: 'Gagal',
                                    text: 'Terjadi kesalahan, mohon ulangi.'
                                });
                                getLoadPanelInstance().hide();
                            }
                        });
                    }
                }
            });
        }
    }

    function openDetailRemark(e) {
        $('#modalDetailRemark').modal('toggle');
    }

    function openDetailClaim(e) {
        $(".programText").text(e.programName);
        var date = new Date(e.expiredDate);

        const months = ["Januari", "Februari", "Maret",
            "April", "Mei", "Juni",
            "Juli", "Agustus", "September",
            "Oktober", "November", "Desember"
        ];

        let formatted_date = date.getDate() + " " + months[date.getMonth()] + " " + date.getFullYear()

        exportAccount = e.account;
        exportProgram = e.programName;
        $(".accountText").text(e.account);
        $(".nameText").text(e.distributorName);
        $(".expiryDateText").text(formatted_date);
        $(".entitlementText").text(formatCurrency(e.entitlementValue));
        $(".balanceText").text(formatCurrency(e.entitlementBalance));
        var url = $("#appBaseUrl").val() + "/Api/SFMClaimData/GetDetailEntitlement?entitlementId=" + e.id;
        $("#GridDetailEntitlement").dxDataGrid({
            dataSource: url
        });
        $('#modalDetailClaim').modal('toggle');
    }
    var entitlementAwal = 0;
    var balanceAwal = 0;
    var entitlementId = 0;

    function openEditClaim(e) {
        $(".distributorText").text(e.distributorName);
        $(".programText").text(e.programName);
        entitlementAwal = e.entitlementValue;
        balanceAwal = e.entitlementBalance;
        entitlementId = e.id;
        $("#EntitlementEdit").dxNumberBox({
            value: e.entitlementValue
        });
        $("#ExpiredDateEdit").dxDateBox("instance").option("value", e.expiredDate);
        $(".balanceText").text(formatCurrency(e.entitlementBalance));
        $('#modalEditClaim').modal('toggle');

        $("#BtnEditEntitlement").dxButton("instance").option("disabled", false);
        $("#nominalEditspan").hide();

        //if (e.entitlementBalance < 0) {
        //    $("#BtnEditEntitlement").addClass("d-none");
        //} else {
        //    $("#BtnEditEntitlement").removeClass("d-none");
        //}
    }

    function editDetail(e) {

        $(".detailDistributorAcountText").text(e.distributorAccount);
        $(".detailProgramText").text(e.programName);
        $(".detailTypeText").text(e.type);
        $("input[name=DetailId]").val(e.id);
        $("#DetailNominalEdit").dxNumberBox("instance").option("value", e.value);
        $("#batasEntitlementNominalID").val(e.value);
        $('#modalEditDetailEntitlement').modal('toggle');
    }
    $('#modalEditDetailEntitlement').on('hidden.bs.modal', function (e) {
        document.getElementById("modalDetailClaim").style.zIndex = "1050";
    })
    $('#modalEditDetailEntitlement').on('show.bs.modal', function (e) {
        document.getElementById("modalDetailClaim").style.zIndex = "100";
    })

    $("#nominalEditDetailspan").hide();
    function DetailNominalEditChange(e) {
        var nominal = parseInt(e.component._parsedValue);
        var batasnominal = parseInt($("#batasEntitlementNominalID").val());

        if (nominal > batasnominal) {
            $("#BtnEditDetailEntitlement").dxButton("instance").option("disabled", true);
            $("#nominalEditDetailspan").show();
        }
        else {
            $("#BtnEditDetailEntitlement").dxButton("instance").option("disabled", false);
            $("#nominalEditDetailspan").hide();
        }
    }

    function EntitlementEditChange(e) {
        var entitlement = parseInt(e.component._parsedValue);
        var newBalance = balanceAwal + (entitlement - entitlementAwal);
        if (newBalance < 0) {
            $("#BtnEditEntitlement").dxButton("instance").option("disabled", true);
            $("#nominalEditspan").show();
        }
        else {
            $("#BtnEditEntitlement").dxButton("instance").option("disabled", false);
            $("#nominalEditspan").hide();
        }

        $(".balanceText").text(formatCurrency(newBalance));
        //$("#BtnEditEntitlement").removeClass("d-none");
    }

    function EditEntitlementClick(e) {
        var url = $("#appBaseUrl").val() + "/Api/SFMClaimPost/EditEntitlementPost";
        var entitlement = $("input[name='EntitlementEdit']").val();
        var balance = getNumber($(".balanceText").text());
        var date = $("#ExpiredDateEdit").dxDateBox("instance").option("value");
        var data = JSON.stringify({
            Id: entitlementId, Entitlement: entitlement, Balance: balance, ExpiredDate: date
        });
        Swal.fire({
            title: 'Anda yakin?',
            type: 'warning',
            text: 'Entitlement akan diubah',
            showCancelButton: true,
            cancelButtonColor: '#d33',
            cancelButtonText: 'Tidak',
            confirmButtonText: 'Iya',
            showLoaderOnConfirm: true,
            preConfirm: (confirms) => {
                var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
                return fetch(url, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': antiForgeryToken
                    },
                    body: data
                }).then(response => response.json()
                    .then(res => {
                        window.location.reload();
                    })
                )
                    .catch(error => {
                        Swal.showValidationMessage(
                            `Terjadi kesalahan: ${error}`
                        )
                    })
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((hasil) => {
        })
    }

</script>

