﻿@model SFMFormClaimViewModel
@{
    Layout = "_SFMLayout";
    var title = "Form Claim";

    if (Model.ApprovalTask.ClaimNumber != null && Model.ApprovalTask.ClaimNumber != 0) title = title + " #" + Model.ApprovalTask.ClaimNumber;
    ViewData["Title"] = title;

    var fileExtension = new List<string>() { ".jpg", ".jpeg", ".jfif", ".pjpeg", ".pjp", ".png", ".doc", ".docx", ".pdf", ".xls", ".xlsx", ".zip", ".rar", ".7z" };
    var uploadtypefilename = string.Join("##Separator##", Model.TypeFileData.Select(a => a.IdName).ToArray());
}

@section Styles{
    <style>
        .doubledot {
            margin-right: -20px;
        }

        .dx-header-row {
            color: dimgrey !important;
            background-color: #F7F9FC !important;
        }

        .dx-datagrid td {
            font-family: 'Poppins', sans-serif !important;
        }

        .backbtn {
            border-bottom: 2px solid rgba(152, 166, 173, 0.2) !important;
            margin-left: -12px !important;
            margin-top: 10px;
            text-align: right;
        }

        .iconbtn {
            color: #10b57d;
            cursor: pointer;
            margin-left: 10px !important;
        }

        .test {
            width: 100% !important;
            padding: 0px 40px 0px 40px;
        }

        /*.dx-fileuploader-files-container {
            margin-top: 60px !important;
        }*/

        .dx-fileuploader-input-wrapper {
            padding: 10px 0 10px 35%;
            border-color: #E7E9EB !important;
            border: 1px thin !important;
            border-style: dashed !important;
        }

        .invalid-files {
            border-color: rgba(217, 83, 79, 0.4) !important;
        }

        .downloadDocButton {
            font-weight: 500 !important;
            color: #10b57d !important;
            cursor: pointer;
        }

        .dx-state-readonly {
            border: 1px solid rgba(221, 221, 221, 0.2) !important;
        }

        .dx-state-readonly .dx-texteditor-input {
            cursor: text !important;
            background: rgba(221, 221, 221, 0.2) !important;
        }

    </style>
}

<div class="row">
    <div class="col-lg-12">
        <form id="ClaimForm" asp-action="SubmitClaim" asp-controller="Home" method="post" enctype="multipart/form-data">
            <input id="ClaimNumberId" name="ClaimNumber" type="hidden" value="@Model.ApprovalTask.ClaimNumber" />
            <input id="ProposalNumberId" name="ProposalNumber" type="hidden" value="@Model.Proposal.ProposalNumber" />
            <input id="RoleNameId" type="hidden" value="@Model.User.RoleName" />
            <input id="ApprovalTaskId" type="hidden" value="@Model.ApprovalTask.Id" />
            <input id="UserId" type="hidden" value="@Model.User.Id" />
            <input name="Id" type="hidden" value="@Model.ApprovalTask.Id" />
            <input id="BalanceTempId" type="hidden" value="@Model.BalanceTemp" />
            <input id="CountKPIId" type="hidden" value="@Model.ValueKPI.Count" />
            <input id="HasilId" name="Hasil" type="hidden" />
            <input id="CountFileId" type="hidden" value="@Model.UploadedFile.Count()" />
            <input id="uploadtypefilenameId" type="hidden" value="@uploadtypefilename" />
            <input id="listUploadFileID" name="ListFilename" type="hidden"  />

            <div class="card-box">
                <div class="row">
                    <div class="col-10 mr-0" id="tabs">
                        <ul class="nav nav-tabs nav-bordered">
                            <li class="nav-item">
                                <a onclick="setUpload('show')" href="#FormClaim" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                    <i class="mdi mdi-file-document-box-outline">&nbsp;</i><span> Informasi Umum</span> <i id="titleWarningumum" style="color: rgba(217, 83, 79); display:none;" class="fa fa-exclamation-circle"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="setUpload('show')" href="#UploadFileClaim" data-toggle="tab" aria-expanded="true" class="nav-link">
                                    <i class="mdi mdi-file-document-box-multiple-outline">&nbsp;</i><span> Upload File</span> <i id="titleWarning" style="color: rgba(217, 83, 79); display:none;" class="fa fa-exclamation-circle"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="setUpload('hide')" id="commentTab" href="#Comment" data-toggle="tab" aria-expanded="true" class="nav-link">
                                    <i class="mdi mdi-comment-text-multiple-outline">&nbsp;</i><span> Diskusi</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="setUpload('hide')" href="#HistoryLog" data-toggle="tab" aria-expanded="true" class="nav-link">
                                    <i class="mdi mdi-file-compare">&nbsp;</i><span> Riwayat Aktivitas </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="FormClaim">
                        <div style="margin-left:30px !important;" class="row">
                            <div class="col-md-12">
                                <div class="row mb-1">
                                    <div class="col-sm-10">
                                        <label style="color:#333333; margin-left:-2px; font-size:14px;" class="d-inline font-weight-bold">No. Proposal : </label>
                                        <label style="color:#333333; margin-left:52px !important; font-size:14px;" class="d-inline font-weight-bold"> @Model.Proposal.ProposalNumber </label>
                                    </div>
                                </div>

                                <div class="row mt-2 mb-1">
                                    <div class="col-sm-10">
                                        <label style="color:#333333; margin-left:-2px; font-size:14px;" class="d-inline font-weight-bold">No. Distributor : </label>
                                        @if ((Model.CurrentStep.Roles == null || (Model.CurrentStep.Roles == Model.User.RoleName && Model.User.RoleName == "Distributor")) && Model.ApprovalTask.Status != "Closed")
                                        {
                                            <label style="color:#333333; margin-left:40px !important; font-size:14px;" class="d-inline font-weight-bold"> @Model.User.AccountDistributor </label>
                                        }
                                        else
                                        {
                                            <label style="color:#333333; margin-left:40px !important; font-size:14px;" class="d-inline font-weight-bold"> @Model.Proposal.AccountNumber </label>
                                        }
                                    </div>
                                </div>

                                <div class="row mt-2 mb-2">
                                    <div class="col-sm-10">
                                        <label style="color:#333333; margin-left:-2px; font-size:14px;" class="d-inline font-weight-bold">Nominal Balance : </label>
                                        <label id="labelEntitlementBalanceId" style="color:#333333; margin-left:27px !important; font-size:14px;" class="d-inline font-weight-bold"> Rp @Model.Proposal.NominalBalance.ToString("N0") </label>
                                    </div>
                                </div>

                                <div class="row mt-2 mb-1">
                                    <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> Nominal Claim <span style="margin-top: 10px; font-weight:300 !important; color: #eb4034;">*</span> :</label>
                                    <div style="margin-left:35px;" class="d-inline">
                                        <input id="nominalText" type="hidden" value="@Model.SFMClaimData.NominalClaim">

                                        @if ((Model.CurrentStep.Roles == null || (Model.CurrentStep.Roles == Model.User.RoleName && Model.User.RoleName == "Distributor")) && Model.ApprovalTask.Status != "Closed" && Model.ApprovalTask.Status != "Canceled")
                                        {
                                            @Html.DevExtreme().NumberBox().Format("Rp #,##0").Min(0).Step(0).Value(Model.SFMClaimData.NominalClaim).Name("Nominal").Width(350).ID("NominalTextBox").OnInput("nominalClaimTxtChange").Placeholder("Nominal Proposal").InputAttr("autocomplete", "off").OnValueChanged("SetValidasiNominal")
                                            <span id="nominalspan" style="color:#F44336; font-size:12px !important; display:none;" class="fs-smaller">Nominal harus di isi.</span>
                                        }
                                        else
                                        {
                                            @Html.DevExtreme().NumberBox().Format("Rp #,##0").Min(0).Step(0).Value(Model.SFMClaimData.NominalClaim).Name("Nominal").ReadOnly(true).Width(350).ID("NominalTextBox").OnInput("nominalClaimTxtChange").Placeholder("Nominal Proposal").InputAttr("autocomplete", "off")
                                        }
                                    </div>
                                </div>

                                <div class="row mt-2 mb-1">
                                    <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> No. Invoice <span style="margin-top: 10px; font-weight:300 !important; color: #eb4034;">*</span> :</label>
                                    <div style="margin-left:55px;" class="d-inline">
                                        @if ((Model.CurrentStep.Roles == null || (Model.CurrentStep.Roles == Model.User.RoleName && Model.User.RoleName == "Distributor")) && Model.ApprovalTask.Status != "Closed" && Model.ApprovalTask.Status != "Canceled")
                                        {
                                            @Html.DevExtreme().TextBox().Name("Invoice").Width(350).ID("NomorInvoiceTextBox").Placeholder("Nomor Invoice").InputAttr("autocomplete", "off").Value(Model.SFMClaimData.Invoice).OnValueChanged("SetValidasiInvoice")
                                            <span id="invoicespan" style="color:#F44336; font-size:12px !important; display:none;" class="fs-smaller">Invoice harus di isi.</span>
                                        }
                                        else
                                        {
                                            @Html.DevExtreme().TextBox().Name("Invoice").Width(350).ID("NomorInvoiceTextBox").Placeholder("Nomor Invoice").InputAttr("autocomplete", "off").Value(Model.SFMClaimData.Invoice).ReadOnly(true)
                                        }
                                    </div>
                                </div>

                                <div class="row mt-2 mb-1">
                                    <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> Tgl Invoice Dist <span style="margin-top: 10px; font-weight:300 !important; color: #eb4034;">*</span> :</label>
                                    <div style="margin-left:31px;" class="d-inline">
                                        @if ((Model.CurrentStep.Roles == null || (Model.CurrentStep.Roles == Model.User.RoleName && Model.User.RoleName == "Distributor")) && Model.ApprovalTask.Status != "Closed" && Model.ApprovalTask.Status != "Canceled")
                                        {
                                            @(Html.DevExtreme().DateBox()
                                                .ID("InvoiceDateId")
                                                .Name("InvoiceDate")
                                                .Type(DateBoxType.Date)
                                                .Value(DateTime.Now)
                                                .AcceptCustomValue(false)
                                                .Width(350)
                                                .DisplayFormat("dd MMMM yyyy")
                                            )
                                        }
                                        else
                                        {
                                            @(Html.DevExtreme().DateBox()
                                                .ID("InvoiceDateId")
                                                .Name("InvoiceDate")
                                                .Type(DateBoxType.Date)
                                                .Value(DateTime.Now)
                                                .AcceptCustomValue(false)
                                                .Width(350)
                                                .ReadOnly(true)
                                                .DisplayFormat("dd MMMM yyyy")
                                            )
                                        }
                                    </div>
                                </div>

                                @if (Model.ValueKPI.Count != 0)
                                {
                                    foreach (var item in Model.ValueKPI)
                                    {
                                        var spanId = "hasil" + item.Order + "span";
                                        var setValue = Model.SFMClaimData.Hasil.FirstOrDefault(a => a.KPI == item.Name);
                                        if (setValue == null) setValue = new SemarAutomation.Models.ViewModels.HasilValue() { };

                                        <div class="row mt-2">
                                            @if (item.Order == 1)
                                            {
                                                <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> Hasil <span style="margin-top: 10px; font-weight:300 !important; color: #eb4034;">*</span> :</label>
                                            }
                                            else
                                            {
                                                <label style="color:#333333; margin-left:55px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"></label>
                                            }

                                            <div style="margin-left:93px;" class="d-inline">
                                                @if ((Model.CurrentStep.Roles == null || (Model.CurrentStep.Roles == Model.User.RoleName && Model.User.RoleName == "Distributor")) && Model.ApprovalTask.Status != "Closed" && Model.ApprovalTask.Status != "Canceled")
                                                {
                                                    @(Html.DevExtreme().SelectBox()
                                                        .Width(350)
                                                        .DataSource(Model.ValueKPI)
                                                        .ValueExpr("Name")
                                                        .ID("KPIValue" + item.Order)
                                                        .DisplayExpr("Name")
                                                        .Placeholder("Pilih ROI Proposal")
                                                        .Value(setValue.KPI)
                                                        .OnValueChanged("SetValidasiHasil")
                                                    )
                                                    <span id="@spanId" style="color:#F44336; font-size:12px !important; display:none;" class="fs-smaller" hidden>Pilih salah satu dari KPI.</span>
                                                }
                                                else
                                                {
                                                    @(Html.DevExtreme().SelectBox()
                                                        .Width(350)
                                                        .DataSource(Model.ValueKPI)
                                                        .ID("KPIValue" + item.Order)
                                                        .ValueExpr("Name")
                                                        .DisplayExpr("Name")
                                                        .Placeholder("Pilih ROI Proposal")
                                                        .ReadOnly(true)
                                                        .Value(setValue.KPI)
                                                    )
                                                }
                                            </div>
                                        </div>

                                        <div style="margin-top:-5px;" class="row mb-1">
                                            <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> </label>
                                            <div style="margin-left:140px;" class="d-inline">
                                                <div class="row">
                                                    @if ((Model.CurrentStep.Roles == null || (Model.CurrentStep.Roles == Model.User.RoleName && Model.User.RoleName == "Distributor")) && Model.ApprovalTask.Status != "Closed" && Model.ApprovalTask.Status != "Canceled")
                                                    {

                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label style="color:#333333; margin-top:10px; font-size:14px;">Target</label>
                                                                @Html.DevExtreme().NumberBox().ID("itemTarget" + item.Order).Format("Rp #,##0").Min(0).Value(setValue.Target).Step(0).Width(165).InputAttr("autocomplete", "off")
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label style="color:#333333; margin-top:10px; font-size:14px;">Aktual</label>
                                                                @Html.DevExtreme().NumberBox().ID("itemAktual" + item.Order).Format("Rp #,##0").Min(0).Value(setValue.Aktual).Step(0).Width(165).InputAttr("autocomplete", "off")
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label style="color:#333333; margin-top:10px; font-size:14px;">Target</label>
                                                                @Html.DevExtreme().NumberBox().ID("itemTarget" + item.Order).Format("Rp #,##0").Min(0).Step(0).ReadOnly(true).Value(setValue.Target).Width(165).InputAttr("autocomplete", "off")
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label style="color:#333333; margin-top:10px; font-size:14px;">Aktual</label>
                                                                @Html.DevExtreme().NumberBox().ID("itemAktual" + item.Order).Format("Rp #,##0").Min(0).Step(0).ReadOnly(true).Value(setValue.Aktual).Width(165).InputAttr("autocomplete", "off")
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                                @if (Model.CurrentStep.Roles == "Finance" && Model.ApprovalTask.Status != "Closed" && Model.ApprovalTask.Status != "Canceled" && Model.User.RoleName == "Finance")
                                {
                                    <div class="row mt-2 mb-1">
                                        <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> Nominal Disetujui :</label>
                                        <div style="margin-left:25px;" class="d-inline">
                                            @Html.DevExtreme().NumberBox().Format("Rp #,##0").Min(0).Step(0).Value(Model.SFMClaimData.NominalClaim).Name("AmountFinance").Width(350).ID("AmountFinanceTextBox").OnInput("amountFinanceTxtChange").Placeholder("Nominal Disetujui Proposal").InputAttr("autocomplete", "off")
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-1">
                                        <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> Dokumen Billing :</label>
                                        <div style="margin-left:35px;" class="d-inline">
                                            @Html.DevExtreme().TextBox().Value(Model.SFMClaimData.BillingDocNumber).Name("BillingDocNumber").Width(350).ID("BillingDocNumberTextBox").Placeholder("Dokumen Billing").InputAttr("autocomplete", "off")
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-1">
                                        <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> VAT-in Amount :</label>
                                        <div style="margin-left:42px;" class="d-inline">
                                            @{ var vatValue = Model.SFMClaimData.NominalClaim * 10 / 100; }
                                            @Html.DevExtreme().NumberBox().Format("Rp #,##0").Min(0).Step(0).Value(vatValue).Name("VATAmount").Width(350).ID("VATAmountTextBox").Placeholder("VAT Amount").InputAttr("autocomplete", "off")
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-1">
                                        <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> WHT Amount :</label>
                                        <div style="margin-left:51px;" class="d-inline">
                                            @Html.DevExtreme().NumberBox().Format("Rp #,##0").Min(0).Step(0).Value(Model.SFMClaimData.WHTAmount).Name("WHTAmount").Width(350).ID("WHTAmountTextBox").Placeholder("WHT Amount").InputAttr("autocomplete", "off")
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-1">
                                        <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> Tanggal Billing :</label>
                                        <div style="margin-left:43px;" class="d-inline">
                                            @(Html.DevExtreme().DateBox()
                                                .ID("BillingDateId")
                                                .Name("BillingDate")
                                                .Type(DateBoxType.Date)
                                                .Value(DateTime.Now)
                                                .AcceptCustomValue(false)
                                                .Width(350)
                                                .DisplayFormat("dd MMMM yyyy")
                                            )
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-1">
                                        <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> No. PR :</label>
                                        <div style="margin-left:92px;" class="d-inline">
                                            @Html.DevExtreme().TextBox().Value(Model.SFMClaimData.PPRNumber).Name("PPRNumber").Width(350).ID("PPRNumberTextBox").Placeholder("Nomor PR").InputAttr("autocomplete", "off")
                                        </div>
                                    </div>
                                }
                                else if (Model.ApprovalTask.Status == "Closed")
                                {
                                    <div class="row mt-2 mb-1">
                                        <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> Nominal Disetujui :</label>
                                        <div style="margin-left:25px;" class="d-inline">
                                            @Html.DevExtreme().NumberBox().Format("Rp #,##0").Min(0).Step(0).Value(Model.SFMClaimData.AmountFinance).ReadOnly(true).Name("AmountFinance").Width(350).ID("AmountFinanceTextBox").OnInput("nominalClaimTxtChange").Placeholder("Nominal Disetujui Proposal").InputAttr("autocomplete", "off")
                                        </div>
                                    </div>

                                    if (Model.User.RoleName == "Finance")
                                    {
                                        <div class="row mt-2 mb-1">
                                            <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> Dokumen Billing :</label>
                                            <div style="margin-left:35px;" class="d-inline">
                                                @Html.DevExtreme().TextBox().Value(Model.SFMClaimData.BillingDocNumber).Name("BillingDocNumber").Width(350).ID("BillingDocNumberTextBox").Placeholder("Dokumen Billing").InputAttr("autocomplete", "off")
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row mt-2 mb-1">
                                            <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> Dokumen Billing :</label>
                                            <div style="margin-left:35px;" class="d-inline">
                                                @Html.DevExtreme().TextBox().Value(Model.SFMClaimData.BillingDocNumber).Name("BillingDocNumber").ReadOnly(true).Width(350).ID("BillingDocNumberTextBox").Placeholder("Dokumen Billing").InputAttr("autocomplete", "off")
                                            </div>
                                        </div>
                                    }

                                    <div class="row mt-2 mb-1">
                                        <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> VAT-in Amount :</label>
                                        <div style="margin-left:42px;" class="d-inline">
                                            @Html.DevExtreme().NumberBox().Format("Rp #,##0").Min(0).Step(0).Value(Model.SFMClaimData.VATAmount).ReadOnly(true).Name("VATAmount").Width(350).ID("VATAmountTextBox").Placeholder("VAT Amount").InputAttr("autocomplete", "off")
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-1">
                                        <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> WHT Amount :</label>
                                        <div style="margin-left:51px;" class="d-inline">
                                            @Html.DevExtreme().NumberBox().Format("Rp #,##0").Min(0).Step(0).Value(Model.SFMClaimData.WHTAmount).ReadOnly(true).Name("WHTAmount").Width(350).ID("WHTAmountTextBox").Placeholder("WHT Amount").InputAttr("autocomplete", "off")
                                        </div>
                                    </div>


                                    if (Model.User.RoleName == "Finance")
                                    {
                                        <div class="row mt-2 mb-1">
                                            <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> Tanggal Billing :</label>
                                            <div style="margin-left:43px;" class="d-inline">
                                                @(Html.DevExtreme().DateBox()
                                                    .ID("BillingDateId")
                                                    .Name("BillingDate")
                                                    .Type(DateBoxType.Date)
                                                    .Value(Model.SFMClaimData.BillingDate)
                                                    .AcceptCustomValue(false)
                                                    .Width(350)
                                                    .DisplayFormat("dd MMMM yyyy")
                                                )
                                            </div>
                                        </div>

                                        <div class="row mt-2 mb-1">
                                            <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> No. PR :</label>
                                            <div style="margin-left:92px;" class="d-inline">
                                                @Html.DevExtreme().TextBox().Value(Model.SFMClaimData.PPRNumber).Name("PPRNumber").Width(350).ID("PPRNumberTextBox").Placeholder("Nomor PR").InputAttr("autocomplete", "off")
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row mt-2 mb-1">
                                            <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> Tanggal Billing :</label>
                                            <div style="margin-left:43px;" class="d-inline">
                                                @(Html.DevExtreme().DateBox()
                                                    .ID("BillingDateId")
                                                    .Name("BillingDate")
                                                    .Type(DateBoxType.Date)
                                                    .Value(Model.SFMClaimData.BillingDate)
                                                    .AcceptCustomValue(false)
                                                    .Width(350)
                                                    .ReadOnly(true)
                                                    .DisplayFormat("dd MMMM yyyy")
                                                )
                                            </div>
                                        </div>

                                        <div class="row mt-2 mb-1">
                                            <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold"> No. PR :</label>
                                            <div style="margin-left:92px;" class="d-inline">
                                                @Html.DevExtreme().TextBox().Value(Model.SFMClaimData.PPRNumber).Name("PPRNumber").Width(350).ReadOnly(true).ID("PPRNumberTextBox").Placeholder("Nomor PR").InputAttr("autocomplete", "off")
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="UploadFileClaim">
                        <div class="card-box">

                            @if ((Model.CurrentStep.Roles == null || (Model.CurrentStep.Roles == Model.User.RoleName && Model.User.RoleName == "Distributor")) && Model.ApprovalTask.Status != "Closed")
                            {
                                <p style="font-size:20px !important; margin-left:40px !important; font-weight:500 !important">Unggah Dokumen Claim <span style="margin-top: 10px; font-weight:300 !important; color: #eb4034;">*</span></p>
                                
                                <div id="DekripsiFileId" style="display:none; margin-left:40px !important; margin-right:40px !important;" class="alert alert-info" role="alert">
                                    @if (!string.IsNullOrEmpty(Model.DescriptionFile.DetailClaim))
                                    {
                                        <input id="setterDeskripsiId" value="@Model.DescriptionFile.DetailClaim" type="hidden"/>
                                    } 
                                </div>

                                <div class="test">
                                    <p style="font-size: 12px; margin-left:5px; margin-bottom:-5px !important; color: #E4A84F;">Note: Mohon untuk mengupload dokumen dengan ukuran maksimal 20 Mb dan sesuai format berikut, .jpg, .jpeg, .png, .doc, .docx, .pdf, .xls, .xlsx, .7z, .rar, dan .zip.</p>
                                    <span id="filespan" style="display:none; color:#F44336; margin-left:5px; font-size:12px !important;" class="fs-smaller">File yang Anda upload lebih dari 20 Mb.</span>
                                    @*<span id="fileemptyspan" style="display:none; color:#F44336; margin-left:5px; font-size:12px !important;" class="fs-smaller">Mohon untuk mengunggah file terlehih dahulu.</span>*@
                                    
                                    <div style="margin-bottom:20px"></div>

                                    @foreach (var item in Model.TypeFileData)
                                    {
                                        var containerUploaderId = "";
                                        var emptyspanId = "fileemptyspan-" + item.IdName;
                                        var filesinvalidspanId = "filesinvalidformatspan-" + item.IdName;

                                        <div id="@item.IdName" style="margin-bottom:30px !important;">
                                            <p style="font-size:15px !important; margin-left:5px !important; margin-bottom:-5px !important; font-weight:500 !important"> @item.Filename <span style="margin-top: 10px; font-weight:300 !important; color: #eb4034;">*</span></p>
                                            <span id="@emptyspanId" style="display:none; color:#F44336; margin-left:5px; font-size:12px !important;" class="fs-smaller">Mohon untuk mengunggah file terlehih dahulu.</span>
                                             <span id="@filesinvalidspanId" style="color:#F44336; margin-left:5px; font-size:12px !important; display:none;" class="fs-smaller">File yang Anda upload tidak sesuai format yang ditentukan.</span>
                                            
                                            @*<span id="fileemptyspan" style="display:none; color:#F44336; margin-left:5px; font-size:12px !important;" class="fs-smaller">Mohon untuk mengunggah file terlehih dahulu.</span>
                                            *@

                                            @(Html.DevExtreme().FileUploader()
                                                .ID("file-uploaderAdmin" + item.IdName)
                                                .Name("UploadedFile")
                                                .Multiple(true)
                                                .LabelText("Atau Drop File Anda Disini")
                                                .SelectButtonText("Pilih File")
                                                .AllowedFileExtensions(item.TypeFile)
                                                .UploadMode(FileUploadMode.UseForm)
                                                .OnValueChanged("FileValidation")
                                                //.OnValueChanged("fileUploader_valueChanged")
                                            )
                                        </div>
                                    }
                                </div>
                                <div class="row">
                                    @if (Model.UploadedFile != null && Model.UploadedFile.Count() != 0)
                                    {
                                        foreach (var ProposalFile in Model.UploadedFile)
                                        {
                                            <div class="row test"> 
                                                <p style="font-size:15px !important; margin-left:12px !important; margin-bottom:-5px !important; font-weight:500 !important"> @ProposalFile.FullName </p>
                                            </div>
                                            <div class="row test"> 
                                                @foreach(var item in ProposalFile.ProposalFile) {
                                                    var classSetter = "classForDeleted" + item.Id;
                                                    <div class="@classSetter col-md-6 col-sm-12 col-lg-4">
                                                        <div class="row">
                                                            <div class="col-md-4 col-lg-3">
                                                                <i class="d-inline mdi mdi-file-document mdi-48px"></i>
                                                            </div>
                                                            <div class="col-md-8 col-lg-9">
                                                                <div class="row"><p class="sfm-file">@item.Filename</p></div>
                                                                <div style="margin-top:-15px !important" class="row">
                                                                    <input class="classUrl" value="@item.Url" hidden />
                                                                    <input class="classId" value="@item.Id" hidden />
                                                                    <a style="margin-top: -5px !important" onclick="downloadDoc(this)" class="sfm-file-download downloadDocButton d-inline">Download</a>
                                                                    <i id="" style="font-size:12px !important; margin-left: 3px; cursor:pointer" onclick="deleteDoc(this)" class="fa fa-trash iconbtn d-inline"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                    else if (Model.CurrentStep.Roles != null)
                                    {
                                        <p style="align-content:center; font-size:20px !important; margin-left:40px !important; font-weight:500 !important">"Tidak Ada File di Unggah"</p>
                                    }

                                </div>
                            }
                            else
                            {
                                <p style="font-size:20px !important; margin-left:40px !important; font-weight:500 !important">Dokumen Claim</p>

                                <div id="DekripsiFileId" style="display:none; margin-left:40px !important; margin-right:40px !important;" class="alert alert-info" role="alert">
                                    @if (!string.IsNullOrEmpty(Model.DescriptionFile.DetailClaim))
                                    {
                                        <input id="setterDeskripsiId" value="@Model.DescriptionFile.DetailClaim" type="hidden"/>
                                    } 
                                </div>
                                
                                    @if (Model.UploadedFile != null && Model.UploadedFile.Count() != 0)
                                    {
                                        foreach (var ProposalFile in Model.UploadedFile)
                                        {
                                            <div class="row test"> 
                                                <p style="font-size:15px !important; margin-left:12px !important; margin-bottom:-5px !important; font-weight:500 !important"> @ProposalFile.FullName </p>
                                            </div>
                                            <div class="row test"> 
                                                @foreach (var item in ProposalFile.ProposalFile)
                                                {
                                                    <div class="col-md-6 col-sm-12 col-lg-4">
                                                        <div class="row">
                                                            <div class="col-md-4 col-lg-3">
                                                                <i class="d-inline mdi mdi-file-document mdi-48px"></i>
                                                            </div>
                                                            <div class="col-md-8 col-lg-9">
                                                                <div class="row"><p class="sfm-file">@item.Filename</p></div>
                                                                <div class="row">
                                                                    <input class="classUrl" value="@item.Url" hidden />
                                                                    <input class="classId" value="@item.Id" hidden />
                                                                    <a onclick="downloadDoc(this)" class="sfm-file-download downloadDocButton">Download</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="center">
                                            <p style="align-content:center; font-size:16px !important; margin-left:30% !important; font-weight:500 !important">"Tidak Ada File Di Unggah"</p>
                                        </div>
                                    }
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="Comment">
                        @Html.Partial("PartialViews/_AllCommentPartial", Model)
                    </div>
                    <div class="tab-pane" id="HistoryLog">
                        @Html.Partial("PartialViews/_AllHistoryPartial", Model)
                    </div>
                </div>
            </div> <!-- end card-box-->

            <div id="setFormButtonFileUpload">
                <div class="card-box">
                    <div class="row">
                        <div class="card-box col-12">
                            <p style="font-size:20px !important; margin-left:40px !important; font-weight:500 !important">Riwayat Claim</p>
                            <div class="test">
                                @(Html.DevExtreme().DataGrid()
                                    .ID("GridProgram")
                                    .RepaintChangesOnly(true)
                                    .ShowRowLines(true)
                                    .ShowColumnLines(true)
                                    .RowAlternationEnabled(true)
                                    .ShowBorders(true)
                                    .DataSource(d => d.Mvc()
                                        .Controller("SFMClaimData")
                                        .Key("claimNumber")
                                        .LoadAction("HistoryClaim")
                                        .LoadParams(new { proposalNumber = Model.Proposal.ProposalNumber })
                                    )
                                    .Export(e => e.Enabled(true)
                                    .FileName("History Claim List Proposal #" + Model.Proposal.ProposalNumber)
                                    .AllowExportSelectedData(true))
                                    .OnExporting("Exporting")
                                    .OnExported("Exported")
                                    .ColumnFixing(c => c.Enabled(true))
                                    .AllowColumnResizing(true)
                                    .StateStoring(s => s
                                        .Enabled(true)
                                        .Type(StateStoringType.LocalStorage)
                                        .StorageKey("ListProgramKey")
                                    )
                                    .SearchPanel(searchPanel => searchPanel
                                        .Visible(true)
                                        .Width(240)
                                        .Placeholder("Search...")
                                    )
                                    .Selection(x => x.Mode(SelectionMode.Multiple))
                                    .HeaderFilter(headerFilter => headerFilter.Visible(true))
                                    .Paging(paging => paging.PageSize(20))
                                    .Pager(pager =>
                                    {
                                        pager.ShowPageSizeSelector(true);
                                        pager.AllowedPageSizes(new[] { 20, 50, 100 });
                                        pager.ShowInfo(true);
                                    })
                                    .OnToolbarPreparing("toolbar_preparing")
                                    .ColumnChooser(c => c.Enabled(true).Mode(GridColumnChooserMode.Select).Title("Choose"))
                                    .Columns(columns =>
                                    {
                                        columns.Add().DataField("claimNumber").Caption("No Claim").Alignment(HorizontalAlignment.Left);
                                        columns.Add().DataField("claimDate").Caption("Tanggal Claim").DataType(GridColumnDataType.DateTime).Format("dd MMM yyyy");
                                        columns.Add().DataField("namaAktivitas").Caption("Aktivitas");
                                        columns.Add().DataField("nominal").Caption("Claim").Format("Rp #,###").Alignment(HorizontalAlignment.Left);
                                    })
                                )
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.ApprovalTask.Status != "Canceled")
                {
                    <div class="row mt-2 mb-1">
                        <div style="justify-content:left" class="col-6">
                            @if ((Model.ApprovalTask.Id != null && Model.CurrentStep.Roles == Model.User.RoleName && Model.User.RoleName == "Distributor") && Model.ApprovalTask.Status != "Closed")
                            {
                                @(Html.DevExtreme().Button()
                                    .ID("btnCancelProposal")
                                    .Text("Batalkan Claim")
                                    .Type(ButtonType.Danger)
                                    .Width(200)
                                    .OnClick("cancelClaim")
                                )
                            }
                            else if (Model.CurrentStep.Roles == Model.User.RoleName && Model.User.RoleName != "Distributor")
                            {
                                if (!Model.isReadDocument)
                                {
                                    <div id="ButtonSendBackId" hidden>
                                        @(Html.DevExtreme().Button()
                                            .ID("btnSendBackProposal")
                                            .Text("Tolak")
                                            .Width(200)
                                            .Type(ButtonType.Danger)
                                            .OnClick("sendbackClaim")
                                        )
                                    </div>
                                }
                                else
                                {
                                    @(Html.DevExtreme().Button()
                                        .ID("btnSendBackProposal")
                                        .Text("Tolak")
                                        .Width(200)
                                        .Type(ButtonType.Danger)
                                        .OnClick("sendbackClaim")
                                    )
                                }
                            }

                        </div>
                        <div justify-content:right" class="col-6">
                            <div class="float-right">
                                @if ((Model.CurrentStep.Roles == null || (Model.CurrentStep.Roles == Model.User.RoleName && Model.User.RoleName == "Distributor")) && Model.ApprovalTask.Status != "Closed")
                                {
                                    @(Html.DevExtreme().Button()
                                        .ID("btnProsesProposal")
                                        .UseSubmitBehavior(true)
                                        .Text("Ajukan Claim")
                                        .Width(200)
                                        .Type(ButtonType.Success)
                                        .OnClick("setHasil")
                                    )
                                }
                                else if (Model.CurrentStep.Roles == Model.User.RoleName && Model.User.RoleName != "Distributor")
                                {
                                    if (!Model.isReadDocument)
                                    {
                                        <div id="ButtonConfirmId">
                                            @(Html.DevExtreme().Button()
                                                .ID("BtnConfirmId")
                                                .Text("Konfirmasi telah memeriksa dokumen")
                                                .Width(310)
                                                .Icon("mdi mdi-clipboard-check-outline")
                                                .Type(ButtonType.Default)
                                                .OnClick("ConfirmDocument")
                                            )
                                        </div>

                                        <div id="ButtonApproveId" hidden>
                                            @if (Model.User.RoleName == "Marketing")
                                            {
                                                @(Html.DevExtreme().Button()
                                                    .ID("btnDelegateId")
                                                    .Text("Delegasi Channel Lead")
                                                    .Width(200)
                                                    .Type(ButtonType.Default)
                                                    .OnClick("DelegateClaim")
                                                )
                                            }

                                            @if ((Model.User.RoleName == "Marketing" || Model.User.RoleName == "Channel Lead") && !Model.SFMClaimData.NeedLegalApproval)
                                            {
                                                <input id="isNeedLegal" hidden />
                                                @(Html.DevExtreme().Button()
                                                    .ID("btnProsesProposal")
                                                    .Text("Setujui")
                                                    .Width(200)
                                                    .Type(ButtonType.Success)
                                                    .OnClick("LegalValidation")
                                                )
                                            }
                                            else
                                            {
                                                @(Html.DevExtreme().Button()
                                                    .ID("btnProsesProposal")
                                                    .Text("Setujui")
                                                    .Width(200)
                                                    .Type(ButtonType.Success)
                                                    .OnClick("approveClaim")
                                                )
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        @if (Model.User.RoleName == "Marketing")
                                        {
                                            @(Html.DevExtreme().Button()
                                                .ID("btnDelegateId")
                                                .Text("Delegasi Channel Lead")
                                                .Width(200)
                                                .Type(ButtonType.Default)
                                                .OnClick("DelegateClaim")
                                            )
                                        }

                                        if ((Model.User.RoleName == "Marketing" || Model.User.RoleName == "Channel Lead") && !Model.SFMClaimData.NeedLegalApproval)
                                        {
                                            <input id="isNeedLegal" hidden />
                                            @(Html.DevExtreme().Button()
                                                .ID("btnProsesProposal")
                                                .Text("Setujui")
                                                .Width(200)
                                                .Type(ButtonType.Success)
                                                .OnClick("LegalValidation")
                                            )
                                        }
                                        else
                                        {
                                            @(Html.DevExtreme().Button()
                                                .ID("btnProsesProposal")
                                                .Text("Setujui")
                                                .Width(200)
                                                .Type(ButtonType.Success)
                                                .OnClick("approveClaim")
                                            )
                                        }
                                    }
                                }
                                else if (Model.ApprovalTask.Status == "Closed" && Model.User.RoleName == "Finance")
                                {
                                    @(Html.DevExtreme().Button()
                                        .ID("btnUpdateDocBillingId")
                                        .Text("Update")
                                        .Width(200)
                                        .Type(ButtonType.Success)
                                        .OnClick("updateBillingDokumen")
                                    )
                                }
                            </div>
                        </div>
                    </div>
                }

            </div>
        
        </form>
    </div>
</div>

<script type="text/javascript">
    var entitlementBalanceTotal = 0;
    //var KPIList = new Array();
    var HasilValue = new Array();
    var Numitem = 1;

    $(document).ready(function () {
        setHasil("setHasil");
        $("#buttonClearBudgetId").hide();

        var desksetField = $("#setterDeskripsiId");
        if (desksetField.val() != null && desksetField.val() != "") {
            var parser = new DOMParser();
	        var doc = parser.parseFromString("<p style='font-size:17px !important; margin-bottom:5px; font-weight:600 !important''>Keterangan Dokumen yang Harus Diunggah</p>" + $("#setterDeskripsiId").val(), "text/html");
                
	        $("#DekripsiFileId").html(doc.querySelectorAll('body *'));
            $("#DekripsiFileId").show();
        }

        var balanceTemp = $("#BalanceTempId").val();
        if (balanceTemp != 0) {
            entitlementBalanceTotal = parseInt(balanceTemp);

            $("#labelEntitlementBalanceId").text("Rp " + balanceTemp.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.'));
        }
    });

    var isNominalValid = true;
    var isInvoiceValid = true;
    var isHasilValid = true;
    var isFilesValid = true;
    var FormatUploader = new Array();

    function validateForm(e) {
        $("#btnProsesProposal").dxButton("instance").option('useSubmitBehavior', false);
        Swal.fire({
            title: 'Apakah Anda yakin akan mengajukan claim ini?',
            showCancelButton: true,
            cancelButtonColor: '#dd3333',
            cancelButtonText: 'Tidak',
            confirmButtonColor: '#28a745',
            confirmButtonText: 'Ya',
        }).then((result) => {
            if (result.value) {
                $("#btnProsesProposal").dxButton("instance").option('useSubmitBehavior', true);

                var isValid = true;

                if (e == "invalid") isValid = false;

                var nominal = $("#NominalTextBox").dxNumberBox("instance");
                if (nominal.option('value') == 0) {
                    isValid = false;
                    nominal.option("isValid", false);
                    $("#nominalspan").show();
                    $("#titleWarningumum").show();
                    isNominalValid = false;
                }

                var invoice = $("#NomorInvoiceTextBox").dxTextBox("instance");
                if (invoice.option('value') == null || invoice.option('value').trim() == "") {
                    isValid = false;
                    invoice.option("isValid", false);
                    $("#invoicespan").show();
                    $("#titleWarningumum").show();
                    isInvoiceValid = false;
                }

                var countFileUploaded = parseInt($("#CountFileId").val());
                if (countFileUploaded <= 0) {
                    var isFileEmpty = false;
                    var fieldFile = true;
                    var sumFile = 0;
                    var fileExtension = ["jpg", "jpeg", "jfif", "pjpeg", "pjp", "png", "doc", "docx", "pdf", "ppt", "pptx", "xls", "xlsx", "zip", "rar", "7z"]

                    var uploadClaimFilename = $("#uploadtypefilenameId").val();
                    var arrayFileType = uploadClaimFilename.split("##Separator##");

                    var setterfiles = [];
                    var files = [];

                    FormatUploader = new Array();

                    arrayFileType.forEach(function (ee) {
                        var FileUploader = $("#file-uploaderAdmin" + ee.replace(" ", "")).dxFileUploader("instance");
                        var listFilename = new Array();

                        var filesDefault = FileUploader._files;
                        if (filesDefault.length == 0) {
                            isFileEmpty = true; 
                            fieldFile = false; 

                            isValid = false; 
                            isFilesValid = false;
                            $("#" + ee +" .dx-fileuploader-input-wrapper").addClass("invalid-files");
                            $("#fileemptyspan-" + ee).show();
                        }
                        else 
                        {
                            filesDefault.forEach(function (uploadname) {
                                listFilename.push(uploadname.value.name);
                                var extension = uploadname.value.name.split('.').pop();

                                var validasiExtension = fileExtension.find(x => x === extension);
                                if (validasiExtension == null) {
                                    isValid = false;
                                    isFilesValid = false;
                                    $("#" + ee +" .dx-fileuploader-input-wrapper").addClass("invalid-files");
                                    $("#filesinvalidformatspan-" + ee).show();
                                }
                            });

                            let newFormatUploader = {fieldname: ee, listfilename: listFilename};
                            FormatUploader.push(newFormatUploader);

                            var sum = filesDefault.map(item => item.value.size).reduce((prev, next) => prev + next);
                            sumFile = sumFile + sum;
                        }
                        setterfiles.push(FileUploader._files);
                    })

                    $("#listUploadFileID").val(JSON.stringify(FormatUploader));

                    if (sumFile > 20000000) {
                        $(".dx-fileuploader-input-wrapper").addClass("invalid-files");
                        $("#filespan").show();

                        isFilesValid = false;
                    }

                    setterfiles.forEach(function (itemFileArray) {
                        if (itemFileArray.length == 0) {
                            isValid = false; isFileEmpty = true; fieldFile = false;
                        }

                        itemFileArray.forEach(function (item) {
                            files.push(item);
                        });
                    });

                    if (!fieldFile) {
                        $(".dx-fileuploader-input-wrapper").addClass("invalid-files");

                        if (isFileEmpty) {
                            Swal.fire({
                              type: 'error',
                              title: 'Terjadi Kesalahan',
                              text: 'Mohon untuk mengunggah file terlehih dahulu'
                            });
                            $("a[href='#UploadFileClaim']").click();
                        } 
                        else $("#filespan").show();
                        $("#titleWarning").show();

                        isFilesValid = false;
                    }
                }

                if (!isValid) {
                    $("#btnProsesProposal").dxButton("instance").option('useSubmitBehavior', false);
                } else {
                    $('#ClaimForm').submit();
                }
            }
        })
    }

    function SetValidasiHasil(e) {
        if (e.value != "") {
            var id = e.element.attr("id");
            $("#" + id).dxSelectBox("instance").option("isValid", true);
            $("#hasil" + id.replace("KPIValue", "") + "span").hide();

            var count = parseInt($("#CountKPIId").val());
            var isValid = "";
            for (let i = 1; i <= count; i++) {
                var hasil = $("#KPIValue" + i).dxSelectBox("instance").option('value');
                if (hasil == "" || hasil == null) isValid = "invalid"
            }

            if (isValid != "invalid") isHasilValid = true;
            OpenUseButtonSubmit();
        }
    }

    function SetValidasiNominal(e) {
        if (e.value != "") {
            $("#NominalTextBox").dxNumberBox("instance").option("isValid", true);
            $("#nominalspan").hide();
            isNominalValid = true;
            OpenUseButtonSubmit();
        }
    }

    function SetValidasiInvoice(e) {
        if (e.value != "") {
            $("#NomorInvoiceTextBox").dxTextBox("instance").option("isValid", true);
            $("#invoicespan").hide();
            isInvoiceValid = true;
            OpenUseButtonSubmit();
        }
    }

    function FileValidation(e) {
        if (e.value.length != 0) {
            $(".dx-fileuploader-input-wrapper").removeClass("invalid-files");
            $("#fileemptyspan").hide();
            $("#filespan").hide();
            isFilesValid = true;
            OpenUseButtonSubmit();
        }
    }

    function OpenUseButtonSubmit() {
        if (isNominalValid && isInvoiceValid && isHasilValid) $("#titleWarningumum").hide();
        if (isFilesValid) $("#titleWarning").hide();

        if (isNominalValid && isInvoiceValid && isHasilValid && isFilesValid) {
            $("#btnProsesProposal").dxButton("instance").option('useSubmitBehavior', true);
        }
    }

    function setHasil(e) {
        var count = parseInt($("#CountKPIId").val());
        var validasiHasil = "valid";
       
        for (let i = 1; i <= count; i++) {
            var hasil = $("#KPIValue" + i).dxSelectBox("instance").option('value');
            var target = $("#itemTarget" + i).dxNumberBox("instance").option('value');
            var aktual = $("#itemAktual" + i).dxNumberBox("instance").option('value');

            if ((hasil == "" || hasil == null) && e != "setHasil") {
                $("#hasil" + i + "span").removeAttr("hidden");
                $("#hasil" + i + "span").show();
                $("#titleWarningumum").show();
                $("#KPIValue" + i).dxSelectBox("instance").option("isValid", false);
                isHasilValid = false;
                validasiHasil = "invalid";
            }

            var validasi = HasilValue.find(x => x.KPI === hasil);
            if (validasi != null) {
                HasilValue = HasilValue.filter(function (x) { return x.KPI != hasil });
            }

            if (hasil != null && hasil != "") {
                let insert = { KPI: hasil, Target: target, Aktual: aktual };
                HasilValue.push(insert);
            }
        }

        var setValueHasil = JSON.stringify(HasilValue);
        $("#HasilId").val(setValueHasil);

        if (e != 'setHasil') {
            validateForm(validasiHasil);
        }
    }

    function setUpload(e) {
        if (e == "hide") {
            $("#setFormButtonFileUpload").hide();
        } else {
            $("#setFormButtonFileUpload").show();
        }
    }

    function fileUploader_valueChanged(e) {
        var files = e.value;
        if (files.length > 0) {
            $("#selected-files .selected-item").remove();

            $.each(files, function (i, file) {
                var $selectedItem = $("<div />").addClass("selected-item");
                $selectedItem.append(
                    $("<span />").html("Name: " + file.name + "<br/>"),
                    $("<span />").html("Size " + file.size + " bytes" + "<br/>"),
                    $("<span />").html("Type " + file.type + "<br/>"),
                    $("<span />").html("Last Modified Date: " + file.lastModifiedDate)
                );
                $selectedItem.appendTo($("#selected-files"));
            });
            $("#selected-files").show();
        }
        else
            $("#selected-files").hide();
    }

    function gridBox_valueChanged(e) {
        var $dataGrid = $("#embedded-datagrid");

        if ($dataGrid.length) {
            var dataGrid = $dataGrid.dxDataGrid("instance");
            dataGrid.selectRows(e.value, false);
        }
    }

    var isChangedRabatebooster = false;
    
    function nominalClaimTxtChange(e) {
        var nominalClaim = parseInt(e.component._parsedValue);
        if (nominalClaim < 0) {
            $('#labelEntitlementBalance').text(formatCurrency(balance));
            Swal.fire({
                type: 'error',
                title: 'Gagal',
                text: 'Nominal proposal tidak boleh dibawah 0'
            });
        };

        var nominalbefore = parseInt($("#nominalText").val());
        if (nominalClaim != null || nominalClaim != '' || nominalClaim != 0) {
            var newBalance = (entitlementBalanceTotal + nominalbefore) - nominalClaim;

            $("#labelEntitlementBalanceId").text("Rp " + newBalance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.'));
        };

        if ((entitlementBalanceTotal + nominalbefore) < nominalClaim) {
            $("#btnProsesProposal").dxButton("instance").option("disabled", true);

            Swal.fire({
                type: 'error',
                title: 'Gagal',
                text: 'Nominal claim melebihi balance proposal, Mohon untuk mengurangi nominal claim Anda'
            });

        } else {
            $("#btnProsesProposal").dxButton("instance").option("disabled", false);
        }
    }

    function amountFinanceTxtChange(e) {
        var nominalClaim = parseInt(e.component._parsedValue);
        if (nominalClaim < 0) {
            $('#labelEntitlementBalance').text(formatCurrency(balance));
            Swal.fire({
                type: 'error',
                title: 'Gagal',
                text: 'Nominal proposal tidak boleh dibawah 0'
            });
        };

        var vatamount = nominalClaim * 10 / 100;
        $("#VATAmountTextBox").dxNumberBox("instance").option("value", vatamount);
        
        var nominalbefore = parseInt($("#nominalText").val());
        if (nominalClaim != null || nominalClaim != '' || nominalClaim != 0) {
            var newBalance = (entitlementBalanceTotal + nominalbefore) - nominalClaim;

            $("#labelEntitlementBalanceId").text("Rp " + newBalance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.'));
        };

        if ((entitlementBalanceTotal + nominalbefore) < nominalClaim) {
            $("#btnProsesProposal").dxButton("instance").option("disabled", true);

            Swal.fire({
                type: 'error',
                title: 'Gagal',
                text: 'Nominal proposal melebihi entitlement balance, Mohon untuk mengurangi nominal proposal Anda'
            });

        } else {
            $("#btnProsesProposal").dxButton("instance").option("disabled", false);
        }
    }

    function downloadDoc(e) {
        var parrent = e.parentNode;
        var valuePath = parrent.querySelector('input.classUrl').value;
        var url = $("input[name='appBaseUrl']").val() + "/" + valuePath;

        var a = document.createElement("a");
        a.href = url;
        a.setAttribute("download", "");
        a.click();
    }

    function approveClaim() {
        ApprovalFunc("approve");
    }

    function sendbackClaim() {
        ApprovalFunc("sendback");
    }

    function ApprovalFunc(type) {
        //var returnUrl = $("input[name='ReturnUrl']").val();
        var url = "";
        var title = "";
        var text = "";
        var confirmText = "";

        if (type == "approve") {
            url = $("input[name='appBaseUrl']").val() + "/Home/ApproveClaim";
            title = "Konfirmasi";
            confirmText = "Ya";
            text = "Apakah Anda yakin menyetujui claim ini? Tambahkan catatan pada kolom komentar di bawah ini jika diperlukan.";
        } else if (type == "sendback") {
            url = $("input[name='appBaseUrl']").val() + "/Home/SendBackClaim";
            title = "Konfirmasi";
            confirmText = "Ya";
            text = "Apakah Anda yakin menolak claim ini? Jika iya, tambahkan alasannya pada kolom komentar di bawah ini.";
        }

        var inputUserIdApproval = $("#UserId").val();
        var inputApprovalTaskIdApproval = $("#ApprovalTaskId").val();
        var inputClaimNumberApproval = parseInt($("#ClaimNumberId").val());

        var inputAmountFinance = 0;
        var inputBillingDocNumber = "";
        var inputVATAmount = 0;
        var inputWHTAmount = 0;
        var inputBillingDate = new Date();
        var inputPPRNumber = "";

        var RoleName = $("#RoleNameId").val();
        if (RoleName == "Finance") {
            inputAmountFinance = $("#AmountFinanceTextBox").dxNumberBox("instance").option("value");
            inputBillingDocNumber = $("#BillingDocNumberTextBox").dxTextBox("instance").option("value");
            inputVATAmount = $("#VATAmountTextBox").dxNumberBox("instance").option("value");
            inputWHTAmount = $("#WHTAmountTextBox").dxNumberBox("instance").option("value");
            inputBillingDate = $("#BillingDateId").dxDateBox("instance").option("value");
            inputPPRNumber = $("#PPRNumberTextBox").dxTextBox("instance").option("value");
        }

        var isNeedLegalValue = false;
        if ($("#isNeedLegal").val() == "Yes") isNeedLegalValue = true;
        var dataWithComment;

        Swal.fire({
            type: 'question',
            title: title,
            text: text,
            input: 'textarea',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showCancelButton: true,
            cancelButtonColor: '#d33',
            cancelButtonText: 'Tidak',
            confirmButtonText: confirmText,
            showLoaderOnConfirm: true,
            preConfirm: (comment) => {
                dataWithComment = JSON.stringify({
                    ClaimNumber: inputClaimNumberApproval,
                    ApprovalTaskId: inputApprovalTaskIdApproval,
                    UserId: inputUserIdApproval,
                    Note: comment,
                    isNeedLegal: isNeedLegalValue,
                    AmountFinance: inputAmountFinance,
                    BillingDocNumber: inputBillingDocNumber,
                    VATAmount: inputVATAmount,
                    WHTAmount: inputWHTAmount,
                    BillingDate: inputBillingDate,
                    PPRNumber: inputPPRNumber
                });

                var antiForgeryToken = $("input[name=__RequestVerificationToken]").val();
                return fetch(url, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': antiForgeryToken
                    },
                    body: dataWithComment
                }).then(response => response.json()
                    .then(res => {
                        if (res.status == "NoComment") {
                            Swal.showValidationMessage(res.content)
                        } else if (res.status == "InvalidRole") {
                            window.location.href = $("input[name='appBaseUrl']").val() + "/Home/FormClaim/" + inputClaimNumberApproval;
                        } else {
                            window.location.href = $("input[name='appBaseUrl']").val() + "/Home/FormClaim/" + inputClaimNumberApproval;
                        }
                    })
                )
                    .catch(error => {
                        Swal.showValidationMessage(
                            `Terjadi kesalahan: ${error}`
                        )
                    })
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((hasil) => {

        })
    }

    function ConfirmDocument() {
        var getapprovalId = $("#ApprovalTaskId").val();

        var datapost = { approvalId: getapprovalId };
        $.ajax({
            type: "post",
            data: datapost,
            url: $("#appBaseUrl").val() + "/API/SFMClaimPost/ComfirmDocumentClaim",
            success: function (d) {
                if (d == "Done") {
                    $("#ButtonApproveId").removeAttr("hidden");
                    $("#ButtonSendBackId").removeAttr("hidden");
                    $("#ButtonConfirmId").hide();

                    Swal.fire({
                        type: 'success',
                        title: 'Sukses',
                        text: 'Berhasil mengonfirmasi pemeriksaan dokumen'
                    });
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Gagal',
                        text: 'Terjadi kesalahan saat mengonfirmasi pemeriksaan dokumen Anda. Mohon ulang kembali sesaat lagi'
                    });
                }
            }
        });
    }

    function deleteDoc(e) {
        var parrent = e.parentNode;

        Swal.fire({
            title: 'Apakah Anda yakin akan menghapus file ini?',
            showCancelButton: true,
            cancelButtonColor: '#dd3333',
            cancelButtonText: 'Tidak',
            confirmButtonColor: '#28a745',
            confirmButtonText: 'Ya',
        }).then((result) => {
            if (result.value) {
                var getapprovalId = $("#ApprovalTaskId").val();
                var getfileId = parseInt(parrent.querySelector('input.classId').value);

                var datapost = { approvalId: getapprovalId, fileId: getfileId };
                $.ajax({
                    type: "post",
                    data: datapost,
                    url: $("#appBaseUrl").val() + "/API/SFMClaimPost/DeleteDocumentClaim",
                    success: function (d) {
                        if (d == "Done") {
                            Swal.fire({
                                type: 'success',
                                title: 'Sukses',
                                text: 'Berhasil menghapus file di claim Anda'
                            });

                            var countFileForDelete = parseInt($("#CountFileId").val());
                            var minusDeleted = countFileForDelete - 1;
                            $("#CountFileId").val(minusDeleted);
                            j
                            $(".classForDeleted" + getfileId).remove();
                        } else {
                            Swal.fire({
                                type: 'error',
                                title: 'Gagal',
                                text: 'Terjadi kesalahan saat menghapus file di claim Anda. Mohon ulang kembali sesaat lagi'
                            });
                        }
                    }
                });
            }
        })
    }

    function cancelClaim(e) {
        Swal.fire({
            title: 'Apakah Anda yakin akan membatalkan claim ini?',
            showCancelButton: true,
            cancelButtonColor: '#dd3333',
            cancelButtonText: 'Tidak',
            confirmButtonColor: '#28a745',
            confirmButtonText: 'Ya',
        }).then((result) => {
            if (result.value) {
                var ClaimNumberId = parseInt($("#ClaimNumberId").val());

                var datapost = { claimNumber: ClaimNumberId };
                $.ajax({
                    type: "post",
                    data: datapost,
                    url: $("#appBaseUrl").val() + "/API/SFMClaimPost/CancelClaim",
                    success: function (d) {
                        if (d == "Done") {
                            var claimnumberCancel = parseInt($("#ClaimNumberId").val());
                            window.location.href = $("input[name='appBaseUrl']").val() + "/Home/FormClaim/" + claimnumberCancel;

                        } else {
                            Swal.fire({
                                type: 'error',
                                title: 'Gagal',
                                text: 'Terjadi kesalahan saat membatalkan claim Anda. Mohon ulang kembali sesaat lagi'
                            });
                        }
                    }
                });
            }
        })
    }

    function updateBillingDokumen() {
        Swal.fire({
            title: 'Apakah Anda yakin akan mengupdate claim ini?',
            showCancelButton: true,
            cancelButtonColor: '#dd3333',
            cancelButtonText: 'Tidak',
            confirmButtonColor: '#28a745',
            confirmButtonText: 'Ya',
        }).then((result) => {
            if (result.value) {
                var inputBillingDocNumber = $("#BillingDocNumberTextBox").dxTextBox("instance").option("value");
                var inputBillingDate = $("#BillingDateId").dxDateBox("instance").option("value");
                var inputPRNumber = $("#PPRNumberTextBox").dxTextBox("instance").option("value");

                var datestring = ("0" + inputBillingDate.getDate()).slice(-2) + "." + ("0" + (inputBillingDate.getMonth() + 1)).slice(-2) + "." + inputBillingDate.getFullYear()
                
                var ClaimNumberId = parseInt($("#ClaimNumberId").val());

                var datapost = {
                    claimNumber: ClaimNumberId,
                    billingdokumen: inputBillingDocNumber,
                    billingdate: datestring,
                    prnumber: inputPRNumber
                };

                $.ajax({
                    type: "post",
                    data: datapost,
                    url: $("#appBaseUrl").val() + "/API/SFMClaimPost/UpdateBillingDokumen",
                    success: function (d) {
                        if (d == "Sukses") {
                            Swal.fire({
                                type: 'success',
                                title: 'Sukses',
                                text: 'Berhasil mengubah claim Anda'
                            });

                        } else {
                            Swal.fire({
                                type: 'error',
                                title: 'Gagal',
                                text: 'Terjadi kesalahan saat mengupdate claim Anda. Mohon ulang kembali sesaat lagi'
                            });
                        }
                    }
                });
            }
        })
    }

    function LegalValidation() {
        Swal.fire({
            title: 'Apakah claim ini perlu diproses ke Legal?',
            showCancelButton: true,
            cancelButtonColor: '#28a745',
            cancelButtonText: 'Proses ke Finance',
            confirmButtonColor: '#dd3333',
            confirmButtonText: 'Proses ke Legal',
            //allowEscapeKey: false,
            //allowEnterKey: false,
            allowOutsideClick: true
        }).then((result) => {
            var isExecuteApproval = false;
            if (result.value) {
                $("#isNeedLegal").val("Yes");
                isExecuteApproval = true;
            }
            else {
                $("#isNeedLegal").val("No");
                if (result.dismiss == "cancel") isExecuteApproval = true;
            }

            if (isExecuteApproval) ApprovalFunc("approve");
        })
    }

    function DelegateClaim(e) {
        Swal.fire({
            title: 'Apakah Anda yakin akan mendelegasikan claim ini ke Channel Lead?',
            showCancelButton: true,
            cancelButtonColor: '#dd3333',
            cancelButtonText: 'Tidak',
            confirmButtonColor: '#28a745',
            confirmButtonText: 'Ya',
        }).then((result) => {
            if (result.value) {
                var getapprovalId = $("#ApprovalTaskId").val();
                var getuserID = $("#UserId").val();

                var datapost = { ApprovalTaskId: getapprovalId, UserId: getuserID };
                $.ajax({
                    type: "post",
                    data: datapost,
                    url: $("#appBaseUrl").val() + "/Home/DelegateToChannelLead",
                    success: function (d) {
                        if (d == "Done") {
                            $("#btnDelegateId").dxButton("instance").option("visible", false);
                            $("#btnSendBackProposal").dxButton("instance").option("visible", false);
                            $("#btnProsesProposal").dxButton("instance").option("visible", false);

                            Swal.fire({
                                type: 'success',
                                title: 'Sukses',
                                text: 'Berhasil mendelegasikan claim'
                            });

                        } else {
                            Swal.fire({
                                type: 'error',
                                title: 'Gagal',
                                text: 'Terjadi kesalahan saat mendelegasikan claim Anda. Mohon ulang kembali sesaat lagi'
                            });
                        }
                    }
                });
            }
        })
    }
</script>
