﻿@model SFMProgramDTO
@{
    Layout = "_SFMLayout";
    ViewData["Title"] = "Program";
    EditProgram dataInput = ViewBag.ProgramInput;
    dataInput.ExpiredDate = dataInput.ExpiredDate == null || dataInput.ExpiredDate == DateTime.MinValue ? DateTime.Today : dataInput.ExpiredDate;
    string[] listDistributor = new string[] { };
    if (dataInput.ProgramName != null)
    {
        if (dataInput.IdDistributor != null) { listDistributor = dataInput.IdDistributor.Split(",").ToArray(); }
    }
}

<style>
    .dx-header-row {
        color: dimgrey !important;
        background-color: #F7F9FC !important;
    }

    .dx-datagrid td {
        font-family: 'Poppins', sans-serif !important;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <span class="mb-5" style="font-weight:600;">Form Program</span>
            <hr />
            
            <form id="ProgramForm" asp-action="SubmitProgram" asp-controller="Home" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <input id="DistributorAccountId" asp-for="IdDistributor" type="hidden" value="@dataInput.IdDistributor" name="IdDistributor" />
                        <input asp-for="Id" name="Id" type="hidden" value="@dataInput.Id" />

                        <div class="row mt-2 mb-1">
                            <label style="color:#333333; margin-left:10px; margin-top:10px; font-size:14px;" margin-top class="d-inline font-weight-bold" asp-for="ProgramName"> Nama Program <span style="margin-top: 10px; font-weight: 300 !important; color: #eb4034;">*</span> :</label>
                            <div style="margin-left:62px;" class="d-inline">
                                @(Html.DevExtreme().TextBox()
                                .Name("ProgramName")
                                .Width(350).ID("programNameTextBox")
                                .Placeholder("Nama Program")
                                .InputAttr("autocomplete", "off")
                                .Value(dataInput.ProgramName)
                                .OnValueChanged("SetValidasiProgramName"))
                                <span id="programspan" style="color:#F44336; font-size:12px !important; display:none;" class="fs-smaller">Program harus di isi.</span>
                            </div>
                        </div>

                        <div class="row mt-2 mb-1">
                            <label style="color:#333333; margin-left:10px; margin-top:7px; font-size:14px;" class="d-inline font-weight-bold" asp-for="DefaultExpDate"> Tanggal Mulai Program <span style="margin-top: 10px; font-weight: 300 !important; color: #eb4034;">*</span> :</label>
                            <div style="margin-left:15px;" class="d-inline">
                                @(Html.DevExtreme().DateBoxFor(a => a.StartDate)
                                    .ID("startDateId")
                                    .Type(DateBoxType.Date)
                                    .Value(DateTime.Now)
                                    .Min(DateTime.Today)
                                    .AcceptCustomValue(false)
                                    .Width(350)
                                    .DisplayFormat("dd MMMM yyyy")
                                    .Value(dataInput.RangeStartDate)
                                    .OnValueChanged("setStartDate")
                                )
                            </div>
                        </div>

                        <div class="row mt-2 mb-1">
                            <label style="color:#333333; margin-left:10px; margin-top:7px; font-size:14px;" class="d-inline font-weight-bold" asp-for="DefaultExpDate"> Tanggal Expired <span style="margin-top: 10px; font-weight: 300 !important; color: #eb4034;">*</span> :</label>
                            <div style="margin-left:55px;" class="d-inline">
                                @(Html.DevExtreme().DateBoxFor(a => a.DefaultExpDate)
                                    .ID("defaultExpDateId")
                                    .Type(DateBoxType.Date)
                                    .Value(DateTime.Now)
                                    .Min(DateTime.Today)
                                    .AcceptCustomValue(false)
                                    .Width(350)
                                    .DisplayFormat("dd MMMM yyyy")
                                    .Value(dataInput.ExpiredDate)
                                )
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mb-3">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <h6 style="font-size:14px !important">Daftar Distributor <span style="margin-top: 10px; font-weight: 300 !important; color: #eb4034;">*</span> :</h6>
                            <span id="distributorListspan" style="color:#F44336; font-size:13px !important; display:none;" class="fs-smaller"> Setidaknya pilih 1 Distibutor untuk program ini.</span>
                        </div>
                        @(Html.DevExtreme().DataGrid()
                            .ID("ListDistributor")
                            .ShowBorders(true)
                            .DataSource(d => d.Mvc()
                                .Controller("SFMClaimData")
                                .LoadAction("GetDistributorList")
                                .Key("sold_to")
                            )
                            .SearchPanel(searchPanel => searchPanel.Visible(true).Width(240))
                            .SelectedRowKeys(listDistributor)
                            .Selection(s => s.Mode(SelectionMode.Multiple)
                            .ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                            .HeaderFilter(headerFilter => headerFilter.Visible(true))
                            .OnCellClick("CellClick")
                            .ColumnChooser(x => x.Mode(GridColumnChooserMode.Select).Enabled(true).Title("Choose"))
                            .Columns(columns =>
                            {
                                columns.Add().DataField("sold_to").Caption("Account Number");
                                columns.Add().DataField("name").Caption("Nama Distributor");
                                columns.Add().DataField("email").Caption("Email");
                                columns.Add().DataField("phone_number").Caption("Nomor Telp");
                            })
                            .OnSelectionChanged("SelectDistributorChange")
                            .Paging(paging => paging.PageSize(7))
                            .OnToolbarPreparing("toolbar_preparing")
                        )
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div class="float-right">
                            @Html.DevExtreme().Button().ID("ProgramIdButton").OnClick("validasiForm").Text("Simpan Program").Type(ButtonType.Default).UseSubmitBehavior(true)
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isPPRValid = true;
    var isProgramNameValid = true;
    var isDistributorListValid = true;

    $(document).ready(function () {
        $("#pprspan").hide();
        $("#programspan").hide();

        $('#ProgramForm').on('keyup keypress', function(e) {
          var keyCode = e.keyCode || e.which;
          if (keyCode === 13) { 
              var isValid = validasiForm();
              if (!isValid) {
                  e.preventDefault();
                  return false;
              }
          }
        })
    });

    function CellClick(e) {
        e.event.stopPropagation();
    }

    function toolbar_preparing(e) {
        const toolbarItems = e.toolbarOptions.items;
        toolbarItems.forEach((item) => {
            item.location = 'before';
        });
    }

    function SelectDistributorChange(selectedItems) {
        var data = selectedItems.selectedRowKeys;
        $("input[name=IdDistributor]").val(data);

        if (data != null && data != "") {
            $("#distributorListspan").hide();
            isDistributorListValid = true;
            OpenUseButtonSubmit();
        }

    }

    function selectBox_customItemCreating(data) {
        var dataSource = data.component.getDataSource();
        var rawData = dataSource.store().__rawData;
        if (rawData == null) {
            rawData = dataSource._store._array;
        }

        if (!rawData.some(e => e.name === data.text.trim()) && data.text.trim() != "") {
            var newItem = { name: data.text.trim() };
            rawData.push(newItem);

            const programDataSource = new DevExpress.data.DataSource({
                store: {
                    data: rawData,
                    type: 'array',
                    key: 'name',
                },
                value: data.text,
                valueExpr: "name",
                displayExpr: "name"
            });

            data.customItem = programDataSource;

            $('#PPRSelectId').dxSelectBox({
                dataSource: programDataSource,
                value: data.text.trim(),
                valueExpr: "name",
                displayExpr: "name"
            });
        } else data.customItem = null;

        setTimeout(
            function () {
                $('#PPRSelectId').dxSelectBox("instance").option('value', data.text.trim())
            }, 50
        );
    }

    function validasiForm() {
        var isValid = true;

        var ProgramNameBox = $("#programNameTextBox").dxTextBox("instance");
        if (ProgramNameBox.option('value') == null || ProgramNameBox.option('value').trim() == "") {
            
            if (ProgramNameBox.option("text") == null || ProgramNameBox.option("text").trim() == "") {
                isValid = false;
                ProgramNameBox.option("isValid", false);
                $("#programspan").show();
                isProgramNameValid = false;
            }
        }

        var DistributorList = $("#DistributorAccountId").val();
        if (DistributorList == null || DistributorList.trim() == "") {
            isValid = false;
            $("#distributorListspan").show();
            isDistributorListValid = false;
        }

        if (!isValid) {
            $("#ProgramIdButton").dxButton("instance").option('useSubmitBehavior', false);
        }

        return isValid
    }

    function SetValidasiPPR(e) {
        if (e.value != "") {
            $("#PPRSelectId").dxSelectBox("instance").option("isValid", true);
            $("#pprspan").hide();
            isPPRValid = true;
            OpenUseButtonSubmit();
        }
    }

    function SetValidasiProgramName(e) {
        if (e.value != "") {
            $("#programNameTextBox").dxTextBox("instance").option("isValid", true);
            $("#programspan").hide();
            isProgramNameValid = true;
            OpenUseButtonSubmit();
        }
    }

    function OpenUseButtonSubmit() {
        if (isPPRValid && isProgramNameValid && isDistributorListValid) {
            $("#ProgramIdButton").dxButton("instance").option('useSubmitBehavior', true);
        }
    }

    function setStartDate(e) {
        var startdate = $("#startDateId").dxDateBox("instance").option("value");
        var date = $("#defaultExpDateId").dxDateBox("instance");

        if (date.option("value") < startdate) {
            date.option("value", e.value);
        }

        date.option("min", e.value);
    }
</script>