﻿@model DashBoardSFMViewModel
@{
    Layout = "_SFMLayout";
    ViewData["Title"] = "Dashboard";
    ApplicationUser currentUser = ViewBag.user;
}

<div class="row">
    <div class="col-xl-4">
        <a asp-controller="Home" asp-action="Proposal" asp-route-id="Inprogress">
            <div class="dashboard-card-container content-dark1 card-box widget-chart-one bx-shadow-lg">
                <div class="row dashboard-card-row">
                    <div class="image-dashboard-container">
                        <img class="image-dashboard" src="~/images/test.png" />
                    </div>
                    <div class="widget-chart-one-content text-left">
                        <h3 class="text-amount OnProcessApprovalId">@Model.OnprocessProposal</h3>
                        <div class=" text-count">
                            <h3 class="OnProcessApprovalCountId">@Model.OnprocessProposalCount</h3>
                            <h3>Proposal Dalam Proses</h3>
                        </div>
                        <div style="margin-top:-17px !important" class="text-count">
                            <h3> &nbsp;</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        
    </div>

    <div class="col-xl-4">
        <a asp-controller="Home" asp-action="ApprovedProposal">
            <div class="dashboard-card-container content-dark2 card-box widget-chart-one bx-shadow-lg">
                <div class="row dashboard-card-row">
                    <div class="image-dashboard-container">
                        <img class="image-dashboard" src="~/images/lock.png" />
                    </div>
                    <div class="widget-chart-one-content text-left">
                        <h3 class="text-amount CloseClaimId">@Model.CloseProposal</h3>
                        <div class="text-count">
                            <h3 class="CloseClaimCountId">@Model.CloseProposalCount</h3>
                            <h3>Proposal Disetujui</h3>
                        </div>
                        <div style="margin-top:-17px !important" class="text-count">
                            <h3> &nbsp;</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-4">
        <a asp-controller="Home" asp-action="Entitlement" asp-route-id="60DayExp">
            <div class="dashboard-card-container content-dark3 card-box widget-chart-one bx-shadow-lg">
                <div class="row dashboard-card-row">
                    <div class="image-dashboard-container">
                        <img class="image-dashboard" src="~/images/stopwatch.png" />
                    </div>
                    <div class="widget-chart-one-content text-left">
                        <h3 class="text-amount ExpDateEntitlementId">@Model.ExpDateEntitlement</h3>
                        <div class="text-count">
                            <h3 class="ExpDateEntitlementCountId">@Model.ExpDateEntitlementCount</h3>
                            <h3 class="">Entitlement akan expired</h3>
                        </div>
                        <div style="margin-top:-17px !important" class="text-count">
                            <h3 class="">kurang dari 60 Hari</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xl-4">
        <a asp-controller="Home" asp-action="Claim" asp-route-id="Inprogress">
            <div class="dashboard-card-container content-dark1 card-box widget-chart-one bx-shadow-lg">
                <div class="row dashboard-card-row">
                    <div class="image-dashboard-container">
                        <img class="image-dashboard" src="~/images/test.png" />
                    </div>
                    <div class="widget-chart-one-content text-left">
                        <h3 class="text-amount OnProcessApprovalId">@Model.OnprocessClaim</h3>
                        <div class="text-count">
                            <h3 class="OnProcessApprovalCountId">@Model.OnprocessClaimCount</h3>
                            <h3 class="">Claim Dalam Proses</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-4">
        <a asp-controller="Home" asp-action="Claim" asp-route-id="Closed">
            <div class="dashboard-card-container content-dark2 card-box widget-chart-one bx-shadow-lg">
                <div class="row dashboard-card-row">
                    <div class="image-dashboard-container">
                        <img class="image-dashboard" src="~/images/lock.png" />
                    </div>
                    <div class="widget-chart-one-content text-left">
                        <h3 class="text-amount CloseClaimId">@Model.CloseClaim</h3>
                        <div class="text-count">
                            <h3 class="CloseClaimCountId">@Model.CloseClaimCount</h3>
                            <h3 class="">Claim Selesai</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-4">
        <a asp-controller="Home" asp-action="Proposal" asp-route-id="Canceled">
            <div class="dashboard-card-container content-dark3 card-box widget-chart-one bx-shadow-lg">
                <div class="row dashboard-card-row">
                    <div class="image-dashboard-container">
                        <img class="image-dashboard" src="~/images/warning.png" />
                    </div>
                    <div class="widget-chart-one-content text-left">
                        <h3 class="text-amount DistributorNotClaimId font-weight-bold">@Model.CancelProposalCount</h3>
                        <div class="text-count">
                            <h3 class="">Proposal Dibatalkan</h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- Chart -->
<div class="row">
    <div class="col-xl-6">
        <div class="card-box">
            <h4 style="margin-top:-10px;" class="header-title mb-3"><i class="mdi mdi-24px mdi-restore-clock">&nbsp;&nbsp;</i><span>Pending Proposal</span></h4>
            @(Html.DevExtreme().Chart()
                 .ID("PendingProposalChart")
                 .Rotated(true)
                 .DataSource(d => d.Mvc()
                    .Controller("SFMClaimData")
                    .LoadAction("PendingProposalChart")
                    .Key("value")
                 )
                 .LoadingIndicator(l => l.Enabled(true))
                 .CommonSeriesSettings(s => s
                     .ArgumentField("roles")
                     .ValueField("value")
                     .Type(SeriesType.Bar)
                     .IgnoreEmptyPoints(true)
                     .Label(l => l
                        .Visible(true)
                        .Position(RelativePosition.Outside)
                        .Font(f => f.Size(12))
                        .Connector(c => c
                            .Visible(true)
                            .Width(0.5)
                        )
                        .CustomizeText(@<text>
                            function(arg) {
                                return arg.point.data.count + " Proposal";
                            }
                        </text>)
                    )
                 )
                 .Legend(a => a.BackgroundColor("#F1F2F4").PaddingLeftRight(5).PaddingTopBottom(5))
                 .SeriesTemplate(t => t.NameField("roles")
                 .CustomizeSeries("PendingProposalChartJs")
                 )
            )
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card-box">
            <h4 style="margin-top:-10px;" class="header-title mb-3"><i class="mdi mdi-24px mdi mdi-progress-clock">&nbsp;&nbsp;</i><span>Pending Claim</span></h4>
            @(Html.DevExtreme().Chart()
                 .ID("PendingClaimChart")
                 .Rotated(true)
                 .DataSource(d => d.Mvc()
                    .Controller("SFMClaimData")
                    .LoadAction("PendingClaimChart")
                    .Key("value")
                 )
                 .LoadingIndicator(l => l.Enabled(true))
                 .CommonSeriesSettings(s => s
                     .ArgumentField("roles")
                     .ValueField("value")
                     .Type(SeriesType.Bar)
                     .IgnoreEmptyPoints(true)
                     .Label(l => l
                        .Visible(true)
                        .Position(RelativePosition.Outside)
                        .Font(f => f.Size(12))
                        .Connector(c => c
                            .Visible(true)
                            .Width(0.5)
                        )
                        .CustomizeText(@<text>
                            function(arg) {
                                return arg.point.data.count + " Claim";
                            }
                        </text>)
                    )
                 )
                 .Legend(a => a.BackgroundColor("#F1F2F4")
                 .PaddingLeftRight(5)
                 .PaddingTopBottom(5))
                 .SeriesTemplate(t => t.NameField("roles").CustomizeSeries("PendingChartCustom")
                )
            )
        </div>
    </div>
</div>


<script type="text/javascript">
    function FilterDashboard(data) {
        //var DataFilter = data.component.option("selectedItem");
        var ValueFilterRegion = $('#RegionFilter').dxSelectBox("instance").option('text');
        var ValueFilterTerritory = $('#TerritoryFilter').dxSelectBox("instance").option('text');
        var ValueFilterChannel = $('#ChannelFilter').dxSelectBox("instance").option('text');
        var ValueFilterDistributor = $('#DistributorFilter').dxSelectBox("instance").option('value');
        var ValueFilterProgram = $('#ProgramFilter').dxSelectBox("instance").option('text');
        var ValueFilterTahun = $('#TahunFilter').dxSelectBox("instance").option('text');
        var url = $("#appBaseUrl").val();

        $.ajax({
            type: "GET",
            url: url + '/API/BDFClaimData/DashboardData',
            data: {
                FilterRegion: ValueFilterRegion,
                FilterTerritory: ValueFilterTerritory,
                FilterChannel: ValueFilterChannel,
                FilterDistributor: ValueFilterDistributor,
                FilterProgram: ValueFilterProgram,
                FilterTahun: ValueFilterTahun
            },
            success: function (result) {
                $('.OnProcessApprovalId').html(trimCurrency(result.onprocessApproval));
                $('.OnProcessApprovalCountId').html(result.onprocessApprovalCount);
                $('.CloseClaimId').html(trimCurrency(result.closeClaim));
                $('.CloseClaimCountId').html(result.closeClaimCount);
                $('.ExpDateEntitlementId').html(trimCurrency(result.expDateEntitlement));
                $('.ExpDateEntitlementCountId').html(result.expDateEntitlementCount);
                $('.DistributorNotClaimId').html(result.distributorNotClaim);
                $('.DistributorFinishClaimId').html(result.distributorFinishClaim);
                $('.LeadTime').html(result.leadTime);
                $('#OnInvoiceId').html(result.onInvoice);
                $('#OnInvoiceCountId').html(result.onInvoiceCount);
                $('#TotalCNId').html(result.totalCN);
                $('#TotalCNCountId').html(result.totalCNCount);
                $('#LeadTimeTotalId').html(result.leadTimeTotal);

                CountDistributor = result.countDistributor;
                CountDM = result.countDM;
                CountRSM = result.countRSM;
                CountMarketing = result.countMarketing;
                CountFinance = result.countFinance;

                $('#PendingChart').dxChart({
                    dataSource: url + "/API/BDFClaimData/PendingClaimChart?FilterRegion=" + ValueFilterRegion + "&FilterTerritory=" + ValueFilterTerritory + "&FilterChannel=" + ValueFilterChannel + "&FilterDistributor=" + ValueFilterDistributor + "&FilterProgram=" + ValueFilterProgram + "&FilterTahun=" + ValueFilterTahun,
                    customizeLabel: function () {
                        return {
                            visible: true,
                        };
                    }
                })

                $('#LeadChart').dxChart({
                    dataSource: url + "/API/BDFClaimData/LeadClaimChart?FilterRegion=" + ValueFilterRegion + "&FilterTerritory=" + ValueFilterTerritory + "&FilterChannel=" + ValueFilterChannel + "&FilterDistributor=" + ValueFilterDistributor + "&FilterProgram=" + ValueFilterProgram + "&FilterTahun=" + ValueFilterTahun
                });
            }
        });

        $('#Grid20ClaimList').dxDataGrid({
            dataSource: url + "/API/BDFClaimData/GetClaimList?filterLast=20&FilterRegion=" + ValueFilterRegion + "&FilterTerritory=" + ValueFilterTerritory + "&FilterChannel=" + ValueFilterChannel + "&FilterDistributor=" + ValueFilterDistributor + "&FilterProgram=" + ValueFilterProgram + "&FilterTahun=" + ValueFilterTahun
        });
    }

    function ResetFilter(e) {
        e.component.element().find(".dx-icon-clear").after(function (e) {
            FilterDashboard();
        })
    }

    function ResetDistributor(e) {
        $('#ProgramFilter').dxSelectBox('instance').reset();
    }

    function RstFilterDistributor(e) {
        var url = $("#appBaseUrl").val();
        e.component.element().find(".dx-icon-clear").after(function (e) {
            $('#ProgramFilter').dxSelectBox({
                dataSource: DevExpress.data.AspNet.createStore({
                    loadUrl: url + "/API/BDFClaimData/ProgramFilter"
                })
            });

            FilterDashboard();
        });
    }

    function DistributorFilterByTerritory(e) {
        var getRegion = $('#RegionFilter').dxSelectBox('instance').option('text');
        var getTerritory = $('#TerritoryFilter').dxSelectBox('instance').option('text');
        var url = $("#appBaseUrl").val();

        $("#DistributorFilter").dxSelectBox({
            dataSource: DevExpress.data.AspNet.createStore({
                loadUrl: url + "/API/BDFClaimData/DistributorFilter?FilterRegion=" + getRegion + "&FilterTerritory=" + getTerritory
            }),
        });
    }

    function ProgramFilterByDistributor(e) {
        var getValue = $('#DistributorFilter').dxSelectBox('instance').option('value');
        var getRegion = $('#RegionFilter').dxSelectBox('instance').option('text');
        var getTerritory = $('#TerritoryFilter').dxSelectBox('instance').option('text');
        var url = $("#appBaseUrl").val();

        $("#ProgramFilter").dxSelectBox({
            dataSource: DevExpress.data.AspNet.createStore({
                loadUrl: url + "/API/BDFClaimData/ProgramFilter?IdDistributor=" + getValue + "&FilterRegion=" + getRegion + "&FilterTerritory=" + getTerritory
            }),
        });
    }

    function PendingProposalChartJs(valueFromNameField) {
        if (valueFromNameField === "Distributor") {
            return {
                color: "#E67E22",
            };
        }

        else if (valueFromNameField === "ASM") {
            return {
                color: "#01B8AA",
            };
        }

        else if (valueFromNameField === "Legal") {
            return {
                color: "#d9534f",
            };
        }

        else if (valueFromNameField === "Channel Lead") {
            return {
                color: "#d9534f",
            };
        }

        else if (valueFromNameField === "Channel Marketing") {
            return {
                color: "#f0ad4e",
            };
        }

        else if (valueFromNameField === "Finance") {
            return {
                color: "#3498DB",
            };
        }
    }


    function PendingChartCustom(valueFromNameField) {
        if (valueFromNameField === "Distributor") {
            return {
                color: "#E67E22",
            };
        }

        else if (valueFromNameField === "ASM") {
            return {
                color: "#01B8AA",
            };
        }

        else if (valueFromNameField === "Legal") {
            return {
                color: "#d9534f",
            };
        }

        else if (valueFromNameField === "Channel Lead") {
            return {
                color: "#7A2669",
            };
        }

        else if (valueFromNameField === "Channel Marketing") {
            return {
                color: "#f0ad4e",
            };
        }

        else if (valueFromNameField === "Finance") {
            return {
                color: "#3498DB",
            };
        }
    }




</script>
