﻿@{
    Layout = "_SFMLayout";
    ViewData["Title"] = "Program";
}

<style>
    .dx-header-row {
        color: dimgrey !important;
        font-weight: 500;
        background-color: #F7F9FC !important;
    }

    .dx-datagrid td {
        font-family: 'Poppins', sans-serif !important;
    }
</style>

<div class="row">
    <div class="card-box col-12">
        @(Html.DevExtreme().DataGrid<SFMProgram>()
                .ID("GridProgram")
                .RepaintChangesOnly(true)
                .ShowRowLines(true)
                .ShowColumnLines(true)
                .RowAlternationEnabled(true)
                .ShowBorders(true)
                .DataSource(d => d.Mvc()
                    .Controller("SFMClaimData")
                    .Key("id")
                    .LoadAction("GetDataProgram")
                )
                .Export(e => e.Enabled(true)
                .FileName("Program SFM List")
                .AllowExportSelectedData(true))
                .OnExporting("Exporting")
                .OnExported("Exported")
                .ColumnFixing(c => c.Enabled(true))
                .AllowColumnResizing(true)
                .StateStoring(s => s
                    .Enabled(true)
                    .Type(StateStoringType.Custom)
                    .StorageKey("ListProgramKey")
                )
                .SearchPanel(searchPanel => searchPanel
                    .Visible(true)
                    .Width(240)
                    .Placeholder("Search...")
                )
                .Selection(x => x.Mode(SelectionMode.Multiple))
                .HeaderFilter(headerFilter => headerFilter.Visible(true))
                .Paging(paging => paging.PageSize(20))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new[] { 20, 50, 100 });
                    pager.ShowInfo(true);
                })
                .OnToolbarPreparing("toolbar_preparing")
                .ColumnChooser(c => c.Enabled(true).Mode(GridColumnChooserMode.Select).Title("Choose"))
                .Columns(columns =>
                {
                    columns.Add().DataField("idProgram").Caption("ID").Width(200);
                    columns.Add().DataField("programName").Caption("Nama Program");
                    columns.Add().DataField("ppr").Caption("Marketing Program Type (PPR)").Visible(false);
                    columns.Add().DataField("startDate").Caption("Tanggal Mulai Program");
                    columns.Add().DataField("defaultExpDate").Caption("Tanggal Expired").CellTemplate(
                        @<text>
                               <span class="font-13"><%= data.defaultExpDate %></span>
                        </text>);

                    columns.Add().Caption("Action").Width(170).CellTemplate(
                            @<text>
                                @Html.DevExtreme().Button().Icon("fas fa-search").Type(ButtonType.Default).OnClick("function (e) { openDetailClaim(data) }")
                                @if(!User.IsInRole("Guest"))
                                {
                                    @Html.DevExtreme().Button().Icon("fas fa-edit").Text("Edit").Type(ButtonType.Default).OnClick("function(e) { EditDataProgram(data) }")
                                }
                            </text>);
                })
        )
    </div>
</div>

@if (User.IsInRole("Guest"))
{
    <input id="IsGuestRole" style="display:none;" value="true" />
}
else
{
    <input id="IsGuestRole" style="display:none;" value="false" />
}

<!-- Modal DetailClaim -->
<div id="modalDetailProgram" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-md-center">Detail Program </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row mb-1">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-5">Nama Program </div>
                            <div class="col-1">:</div>
                            <div class="col-6 text-md-left"><label class="programText"></label></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-5">Marketing Program Type (PPR)</div>
                            <div class="col-1">:</div>
                            <div class="col-6 text-md-left"><label class="pprText"></label></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-6">
                        <div id="expTextId" class="row">
                            <div class="col-5">Tanggal Mulai Program </div>
                            <div class="col-1">:</div>
                            <div class="col-6 text-md-left">
                                <label class="startDateText"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-6">
                        <div id="expTextId" class="row">
                            <div class="col-5">Expired Date </div>
                            <div class="col-1">:</div>
                            <div class="col-6 text-md-left">
                                <label class="expText"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        @(Html.DevExtreme().DataGrid()
                        .ID("GridDistributor")
                        .ShowBorders(true)
                        .RowAlternationEnabled(false)
                        .SearchPanel(searchPanel => searchPanel.Visible(true).Width(240))
                        .HeaderFilter(headerFilter => headerFilter.Visible(true))
                        .Paging(paging => paging.PageSize(5))
                        )
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function EditDataProgram(data) {
        var url = $("#appBaseUrl").val();
        window.location = url + "/Home/FormProgram/" + data.id;
    }

    function toolbar_preparing(e) {
        var url = $("#appBaseUrl").val();
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "after",
            widget: "dxButton",
            options: {
                text: 'Reset Filter',
                icon: "refresh",
                onClick: function () {
                    dataGrid.clearFilter();
                }
            }
        });

        var isGuest = $("#IsGuestRole").val();
        if (isGuest != null && isGuest == "true") {

        } else {
            e.toolbarOptions.items.unshift({
                location: "after",
                widget: "dxButton",
                options: {
                    text: 'Tambah Program',
                    type: "default",
                    icon: "event",
                    onClick: function () {
                        window.location = url + "/Home/FormProgram"
                    }
                }
            });
        }

        const toolbarItems = e.toolbarOptions.items;
        toolbarItems.forEach((item) => {
            item.location = 'before';
        });
    }

    function formatDate(date) {
        var month_names = ["Januari", "Februari", "Maret",
            "April", "Mei", "Juni",
            "Juli", "Agustus", "September",
            "Oktober", "November", "Desember"];

        var day = date.getDate();
        var month_index = date.getMonth();
        var year = date.getFullYear();

        return day + " " + month_names[month_index] + " " + year;
    }

    function openDetailClaim(e) {
        $(".programText").text(e.programName);
        $(".pprText").text(e.ppr);
        $("#expTextId").show();

        var date = new Date(e.defaultExpDate);
        $(".expText").text(formatDate(date));

        var startDate = new Date(e.startDate);
        $(".startDateText").text(formatDate(startDate));

        var url = $("#appBaseUrl").val();
        $("#GridDistributor").dxDataGrid({
            dataSource: url + "/API/SFMClaimData/GetDetailProgramUser?ProgramId=" + e.id
        });

        $('#modalDetailProgram').modal('toggle');
    }

</script>



