﻿@model SFMFormClaimViewModel
@{
    Layout = "_SFMLayout";
    ViewData["Title"] = "Proposal";
    ApplicationUser currentUser = ViewBag.user;

    var viewDashboard = ViewData["dashboardView"].ToString();
}

<style>
    .dx-header-row {
        color: dimgrey !important;
        background-color: #F7F9FC !important;
    }

    .dx-datagrid td {
        font-family: 'Poppins', sans-serif !important;
    }
</style>

<div class="row">
    <div class="card-box col-12">
        <input id="RoleNameId" type="hidden" value="@currentUser.RoleName">
        @(Html.DevExtreme().LoadPanel()
            .ID("loadPanel")
            .ShadingColor("rgba(0,0,0,0.4)")
            .Position(p => p.Of("#employee"))
            .Visible(false)
            .ShowIndicator(true)
            .ShowPane(true)
            .Shading(true)
            .CloseOnOutsideClick(false)
            .OnShown("loadPanel_shown")
            .OnHidden("loadPanel_hidden")
        )

        @(Html.DevExtreme().DataGrid<Proposal>()
                .ID("GridProposalList")
                .RepaintChangesOnly(true)
                .ShowBorders(true)
                .Export(e => e.Enabled(true)
                .FileName("SFM_Entitlement_" + DateTime.Today.ToString("dd MMM yyyy"))
                .AllowExportSelectedData(true))
                .ColumnAutoWidth(true)
                .ColumnFixing(c => c.Enabled(true))
                .AllowColumnResizing(true)
                .DataSource(d => d.Mvc()
                    .Controller("SFMClaimData")
                    .LoadAction("GetProposal")
                    .LoadParams(new { viewDash = viewDashboard })
                    .Key("id")
                )
                .Selection(s => s.Mode(SelectionMode.Multiple))
                .SearchPanel(searchPanel => searchPanel
                    .Visible(true)
                    .Width(240)
                    .Placeholder("Search...")
                )
                .HeaderFilter(headerFilter => headerFilter.Visible(true))
                .Paging(paging => paging.PageSize(20))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new[] { 20, 50, 100 });
                    pager.ShowInfo(true);
                })
                .OnToolbarPreparing("toolbar_preparing")
                .ColumnChooser(c => c.Enabled(true).Mode(GridColumnChooserMode.Select).Title("Choose"))
                .OnExporting("Exporting")
                .OnExported("Exported")
                .Columns(columns =>
                {
                    columns.Add().DataField("proposalNumber").Caption("No. Proposal").Alignment(HorizontalAlignment.Left);
                    columns.Add().DataField("accountNumber").Caption("Account Distributor").Visible(false);
                    columns.Add().DataField("distributorName").Caption("Distributor");
                    columns.Add().DataField("kategori").Caption("Tipe Aktivitas");
                    columns.Add().DataField("tipeAktivitas").Caption("Sub Aktivitas");
                    columns.Add().DataField("namaAktivitas");
                    columns.Add().DataField("segmentPasar").Visible(false);
                    columns.Add().DataField("tanggalAktivitas").DataType(GridColumnDataType.DateTime).Format("dd MMM yyyy");
                    columns.Add().DataField("opportunity").Visible(false);
                    columns.Add().DataField("programName").Caption("Sumber Budget").Visible(false);
                    columns.Add().DataField("nominal").Caption("Proposal Amount").AllowSearch(false).Format("Rp #,###").Alignment(HorizontalAlignment.Left);
                    columns.Add().DataField("actualAmount").Caption("Actual Amount").AllowSearch(false).Format("Rp #,###").Alignment(HorizontalAlignment.Left).Visible(false);
                    columns.Add().DataField("createdAt").DataType(GridColumnDataType.DateTime).Caption("Tanggal Proposal").SortOrder(SortOrder.Desc).Format("dd MMM yyyy").Visible(false);
                    columns.Add().DataField("statusApproval").Caption("Status").Fixed(true).FixedPosition(HorizontalEdge.Right).Width(252).CellTemplate(
                        @<text>
                            <span style="color:<%= data.color %>;" class="badge badge-<%= data.style %> badge-status-claim-SFM font-13"><%= data.statusApproval %></span>
                        </text>);
                    columns.Add().Caption("Action").Fixed(true).FixedPosition(HorizontalEdge.Right).Width(110).CellTemplate(
                        @<text>
                            <% if(data.textButton != "View"){ %>
                            <% if(data.textButton != "Edit"){ %>
                                @Html.DevExtreme().Button().Type(ButtonType.Default).Text("Proses").Width(90).OnClick("function (e) { viewClaims(data) }")
                            <% } else { %>
                                @Html.DevExtreme().Button().Type(ButtonType.Default).Text("Edit").Width(90).OnClick("function (e) { viewClaims(data) }")
                            <% } %>
                            <% } else { %>
                                @Html.DevExtreme().Button().Type(ButtonType.Default).Text("View").Width(90).OnClick("function (e) { viewClaims(data) }")
                            <% } %>
                        </text>);
                })
        )

    </div>
</div>
<iframe id="my_iframe" style="display:none;"></iframe>

<script>
    var exportAccount = "";
    var exportProgram = "";
    function OnFileSaving(e) {
        e.fileName = "Detail of " + exportAccount + "_" + exportProgram;
    }

    function getLoadPanelInstance() {
        return $("#loadPanel").dxLoadPanel("instance");
    }

    function loadPanel_shown(e) {
        //setTimeout(function() {
        //}, 3000);
    }

    function viewClaims(data) {
        var url = $("#appBaseUrl").val() + "/Home/FormProposal/" + data.proposalNumber;
        window.location.href = url;
    }

    function loadPanel_hidden(e) {
        e.component.hide();
    }

    function toolbar_preparing(e) {
        url = $("#appBaseUrl").val();
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            widget: "dxButton",
            options: {
                text: 'Reset Filter',
                icon: "refresh",
                onClick: function () {
                    dataGrid.clearFilter();
                }
            }
        });

        const toolbarItems = e.toolbarOptions.items;
        toolbarItems.forEach((item) => {
            item.location = 'before';
        });

        if ($("#RoleNameId").val() == "Distributor") {
            e.toolbarOptions.items.unshift({
                location: "before",
                widget: "dxButton",
                options: {
                    text: 'Tambahkan Proposal',
                    type: "default",
                    icon: "mdi mdi-book-variant",
                    onClick: function () {
                        window.location = url + "/Home/FormProposal"
                    }
                }
            });
        }
    }
</script>

