﻿@{
    Layout = "_SFMLayout";
    ViewData["Title"] = "Upload SFM Entitlement";
}

<div class="row">
    <div class="card-box">
        <div class="col-12">
            <h3 style="margin-left:-30px;" class="text-center">Upload SFM Entitlement</h3>
            <div class="float-center col-8 offset-2">
                <div class="center">
                    <center>
                        <span style="margin-left:-30px;" class="note">Pastikan file yang Anda Upload sesuai dengan template</span><br>
                        <span style="margin-left:-30px;" class="note">Silakan download template SFM Entitlement <a href="@ViewData["template"]">disini</a>.</span><br>
                        <input style="margin-left:-30px;" type="hidden" id="breadcrumb" value="SFM Entitlement" />
                        <input type="hidden" id="isClosingValue" value="no" />
                        @*<i class="mt-4 mb-4 fa fa-file-upload fa-6x"></i>*@
                        <i style="margin-left:-30px;" class="mt-2 mb-4 mdi mdi-file-upload mdi-100px"></i>
                    </center>
                    @(Html.DevExtreme().FileUploader()
                            .ID("file-uploaderAdmin")
                            .Name("myFile")
                            .Multiple(false)
                            .Accept(".xlsx")
                            .OnUploadError("upload_failed")
                            .OnUploaded("upload_succeed")
                            .UploadMode(FileUploadMode.UseButtons)
                            .UploadUrl(Url.Action("UploadSFMEntitlement", "Home"))
                            .OnUploadAborted("fileUploader_abort")
                            .OnProgress("fileUploader_progress")
                        )
                    <div class="content mt-0 center" id="selected-files">
                        <img style="margin-left:35px;" src="~/images/dualring.svg" width="150">
                        <h4 class="text-center" style="margin-left:-35px; padding:0 33px;">Mohon Tunggu. Sedang dalam proses upload</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.0/xlsx.full.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dx-button-has-text").addClass('btn-upload-center');
            $(".dx-fileuploader-input-label").addClass('label-upload-center');
            $(".dx-fileuploader-input-label").addClass('label-upload-visible');
        });

        var _id = $("#breadcrumb").val().split(' ').join('%20');
        var url = $("#file-uploader")[0].baseURI.replace('/FileUploading/' + _id, '');
        var closing = false;
        //var periodSelected = true;

        function getFileUploaderInstance() {
            return $("#file-uploader").dxFileUploader("instance");
        }
        function isValueOption_changed(e) {
            if (e.value) {
                //periodSelected = false;
                console.log("1");
                getFileUploaderInstance().option("uploadUrl", url + "/Upload?id=" + _id + "&isClosing=yes");
                Swal.fire({
                    title: 'Alert',
                    text: 'Apakah anda yakin file tersebut adalah closing data? Setelah upload pengaturan ini tidak dapat diubah kembali.',
                    type: 'warning',
                    confirmButtonText: 'Ya, saya yakin!'
                }).then((result) => {
                })
            } else {
                closing = false;
                console.log("2");
                getFileUploaderInstance().option("uploadUrl", url + "/Upload/?id=" + _id + "&isClosing=no");
            }
            //console.log(getFileUploaderInstance().option("uploadUrl"));
        }
        function PeriodValueOption_changed(e) {
            //periodSelected = true;
            $(".dx-fileuploader-upload-button").dxButton({
                disabled: false
            });
            var period = e.value;
            if (closing == true) {
                getFileUploaderInstance().option("uploadUrl", url + "/Upload/?id=" + _id + "&isClosing=yes&period=" + period);
            } else {
                getFileUploaderInstance().option("uploadUrl", url + "/Upload/?id=" + _id + "&isClosing=no&period=" + period);
            }
            console.log(getFileUploaderInstance().option("uploadUrl"));
        }
        function fileUploader_valueChanged(e) {
            //$(".dx-fileuploader-upload-button").hide();
            var files = e.value;
            if (files.length > 0) {
                $(".dx-button-has-text").removeClass('btn-upload-center');
                $(".dx-fileuploader-input-wrapper").hide();
                $(".dx-fileuploader-files-container").prependTo(".dx-fileuploader-container");
                $("#selected-files").prependTo(".dx-fileuploader-container");
                if ($("#breadcrumb").val().indexOf("Tax") != -1) {
                    $(".dx-fileuploader-upload-button").dxButton({
                        disabled: true
                    });
                }
                if ($("#bc").val().indexOf("OCH") != -1) {
                    $(".dx-fileuploader-upload-button").dxButton({
                        disabled: true
                    });
                }
                $(".dx-button-has-text").addClass("btn-donker");
            }
            else {
                $(".dx-fileuploader-input-wrapper").show();
                $(".dx-button-has-text").addClass('btn-upload-center');
                $(".dx-button-has-text").removeClass("btn-donker");
            }
            //console.log(getFileUploaderInstance().option("uploadUrl"));
        }
        function fileUploader_progress(e) {
            var uploaded = e.bytesTotal;
            if (uploaded > 0) {
                $("#selected-files").show();
                $(".dx-fileuploader-files-container").hide();
                $(".dx-fileuploader-input-container").hide();
                $(".dx-button-has-text").hide();
                $(".SelectPeriodElement").hide();
            } else {
                $("#selected-files").hide();
            }
        }

        function fileUploader_abort(e) {
            console.log(e);
        }
        function upload_failed(e) {
            location.reload();
        }
        function upload_succeed(e) {
            location.reload();
        }
    </script>
}


